<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bienestar San Miguel | Login</title>


    <link rel="icon" type="image/x-icon" th:href="@{/media/favicon.png}">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/fonts.css}" rel="stylesheet" />
    <link th:href="@{/css/login-styles/login.css}" rel="stylesheet" />
</head>
<header>
    <div class="login-top">
        <div>
            <a href="/"><img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo"></a>
        </div>

        <div class="top-menu">
            <a class="text menu-item roboto-regular" href="">Preguntas Frecuentes →</a>
            <a class="text menu-item roboto-regular" href="">Manual de Usuario →</a>
            <a class="text menu-item roboto-regular" href="https://munisanmiguel.gob.pe/#">Directorio de Servicios →</a>
        </div>
    </div>

</header>

<body>

<div class="main-container" >
    <div class="login-container2">

        <div class="wrapper2" style="margin-top: 130px; margin-bottom: 100px">
            <div class="login-title montserrat-bold">
                Registro
                <span>  &#160 <a th:href="@{/}" class="text text-links">Regresar al Inicio de Sesión</a></span>
            </div>

                <form name="signin" class="login-form" method="post" th:action="@{/login/save}" onsubmit="return validatePassword()">
                    <div class="content">
                        <div class="user-details">
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px"> Nombres </span>
                                <label for="nombres" class="input-label" hidden>Nombres</label>
                                <input type="text" name="nombres" id="nombres" class="input-field2" placeholder="Ingrese sus nombres">
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Apellidos </span>
                                <label for="apellidos" class="input-label"  hidden>Apellido</label>
                                <input type="text" name="apellidos" id="apellidos" class="input-field2" placeholder="Ingrese sus apellidos">
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">DNI</span>
                                <label for="dni" class="input-label" hidden>Contraseña</label>
                                <input type="number" name="dni" id="dni" class="input-field2" placeholder="Ingrese su DNI">
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Correo electrónico</span>
                                <label for="correo" class="input-label" hidden>Fecha de nacimiento</label>
                                <input type="email" name="correo" id="correo" class="input-field2" placeholder="Ingrese su correo electronico">
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Dirección</span>
                                <label for="direccion" class="input-label" hidden>Dirección</label>
                                <input type="text" name="direccion" id="direccion" class="input-field2" placeholder="Ingrese su dirección">
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Distrito</span>
                                <label for="distrito" class="input-label" hidden>Distrito</label>
                                <input type="text" name="distrito" id="distrito" class="input-field2" placeholder="Seleccione su distrito">
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Teléfono</span>
                                <label for="celular" class="input-label" hidden>Telefono</label>
                                <input type="number" name="celular" id="celular" class="input-field2" placeholder="Ingrese su telefono">
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Seguro </span>
                                <label for="seguro" class="input-label" hidden>Seguro</label>
                                <input type="number" name="seguro" id="seguro" class="input-field2" placeholder="Ingrese el número de su seguro">
                            </div>

                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Contraseña</span>
                                <label for="contrasena" class="input-label" hidden>Contraseña</label>
                                <input type="password" name="contrasena" id="contrasena" class="input-field2" placeholder="Ingrese su contraseña">
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Confirmar su contraseña</span>
                                <label for="contrasena2" class="input-label" hidden>Contraseña</label>
                                <input type="password" name="contrasena2" id="contrasena2" class="input-field2" placeholder="Confirme su contraseña">
                            </div>

                        </div>
                    </div>
                    <div class="content">
                        <div class="input-control">
                            <input type="submit" name="submit" class="input-submit" value="Registrar">
                        </div>
                    </div>
                </form>


        </div>

    </div>
</div>

<script>
    function togglePasswordVisibility(fieldId) {
        var field = document.getElementById(fieldId);
        if (field.type === "password") {
            field.type = "text";
        } else {
            field.type = "password";
        }
    }

    function validatePassword() {
        var password = document.getElementById('contrasena').value;
        var confirmPassword = document.getElementById('contrasena2').value;
        if (password !== confirmPassword) {
            alert("Las contraseñas no coinciden.");
            return false;
        }
        return true;
    }
</script>

</body>

</html>