<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bienestar San Miguel | Login</title>


    <link rel="icon" type="image/x-icon" th:href="@{/media/favicon.png}">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/fonts.css}" rel="stylesheet" />
    <link th:href="@{/css/login-styles/login.css}" rel="stylesheet" />
</head>
<header>
    <div class="login-top">
        <div>
            <a href="/"><img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo"></a>
        </div>

        <div class="top-menu">
            <a class="text menu-item roboto-regular" href="">Preguntas Frecuentes →</a>
            <a class="text menu-item roboto-regular" href="">Manual de Usuario →</a>
            <a class="text menu-item roboto-regular" href="https://munisanmiguel.gob.pe/#">Directorio de Servicios →</a>
        </div>
    </div>

</header>

<body>

<div class="main-container" >
    <div class="login-container2">

        <div class="wrapper2" style="margin-top: 130px; margin-bottom: 100px">
            <div class="login-title montserrat-bold">
                Registro
                <span>&#160;<a th:href="@{/}" class="text text-links">Regresar al Inicio de Sesión</a></span>
            </div>

            <form name="signin" class="login-form" method="post" th:action="@{/login/save}" onsubmit="return validatePassword()" th:object="${usuario}">
                    <div class="content">
                        <div class="user-details">
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px"> Nombres </span>
                                <input type="text" th:field="*{nombres}" class="input-field2" placeholder="Ingrese sus nombres">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Apellidos </span>
                                <input type="text" th:field="*{apellidos}" class="input-field2" placeholder="Ingrese sus apellidos">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">DNI</span>
                                <input type="number" th:field="*{dni}" class="input-field2" placeholder="Ingrese su DNI">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Correo electrónico</span>
                                <input type="email" th:field="*{correo}" class="input-field2" placeholder="Ingrese su correo electronico">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Dirección</span>
                                <input type="text" th:field="*{direccion}" class="input-field2" placeholder="Ingrese su dirección">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Distrito</span>
                                <input type="text" th:field="*{distrito}" class="input-field2" placeholder="Seleccione su distrito">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('distrito')}" th:errors="*{distrito}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Teléfono</span>
                                <input type="number" th:field="*{celular}" class="input-field2" placeholder="Ingrese su telefono">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Seguro </span>
                                <input type="text" th:field="*{seguro}" class="input-field2" placeholder="Ingrese el número de su seguro">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('seguro')}" th:errors="*{seguro}" style="margin-left: 10px ; color: red"></div>
                            </div>

                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Contraseña</span>
                                <input type="password" th:field="*{contrasena}" class="input-field2" placeholder="Ingrese su contraseña">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Confirmar su contraseña</span>
                                <label for="contrasena2" class="input-label" hidden>Contraseña</label>
                                <input type="password" name="contrasena2" id="contrasena2" class="input-field2" placeholder="Confirme su contraseña">
                            </div>

                        </div>
                    </div>
                    <div class="content">
                        <div class="input-control">
                            <input type="submit" name="submit" class="input-submit" value="Registrar">
                        </div>
                    </div>
                </form>


        </div>

    </div>
</div>

<script>
    function togglePasswordVisibility(fieldId) {
        var field = document.getElementById(fieldId);
        if (field.type === "password") {
            field.type = "text";
        } else {
            field.type = "password";
        }
    }

    function validatePassword() {
        var password = document.getElementById('contrasena').value;
        var confirmPassword = document.getElementById('contrasena2').value;
        if (password !== confirmPassword) {
            alert("Las contraseñas no coinciden.");
            return false;
        }
        return true;
    }
</script>

</body>

</html>