<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bienestar San Miguel | Login</title>


    <link rel="icon" type="image/x-icon" th:href="@{/media/favicon.png}">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/fonts.css}" rel="stylesheet" />
    <link th:href="@{/css/login-styles/login.css}" rel="stylesheet" />
</head>
<header>
    <div class="login-top">
        <div>
            <a href="/"><img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo"></a>
        </div>

        <div class="top-menu">
            <a class="text menu-item roboto-regular" href="">Preguntas Frecuentes →</a>
            <a class="text menu-item roboto-regular" href="">Manual de Usuario →</a>
            <a class="text menu-item roboto-regular" href="https://munisanmiguel.gob.pe/#">Directorio de Servicios →</a>
        </div>
    </div>

</header>

<body>

<div class="main-container" >
    <div class="login-container2">

        <div class="wrapper2" style="margin-top: 130px; margin-bottom: 100px">
            <div class="login-title montserrat-bold">
                Registro
                <span>&#160;<a th:href="@{/}" class="text text-links">Regresar al Inicio de Sesión</a></span>
            </div>

            <form name="signin" class="login-form" method="post" th:action="@{/login/save}" onsubmit="return validatePassword()" th:object="${usuario}">
                    <div class="content">
                        <div class="user-details">
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px"> Nombres </span>
                                <input type="text" th:field="*{nombres}" class="input-field2" placeholder="Ingrese sus nombres">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Apellidos </span>
                                <input type="text" th:field="*{apellidos}" class="input-field2" placeholder="Ingrese sus apellidos">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">DNI</span>
                                <input type="number" th:field="*{dni}" class="input-field2" placeholder="Ingrese su DNI">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Correo electrónico</span>
                                <input type="email" th:field="*{correo}" class="input-field2" placeholder="Ingrese su correo electronico">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Dirección</span>
                                <input type="text" th:field="*{direccion}" class="input-field2" placeholder="Ingrese su dirección">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Distrito</span>
                                <select th:field="*{distrito}" class="input-field3">
                                    <option value="">Seleccione su distrito</option>
                                    <option value="Ancón">Ancón</option>
                                    <option value="Ate">Ate</option>
                                    <option value="Barranco">Barranco</option>
                                    <option value="Breña">Breña</option>
                                    <option value="Carabayllo">Carabayllo</option>
                                    <option value="Cercado de Lima">Cercado de Lima</option>
                                    <option value="Chaclacayo">Chaclacayo</option>
                                    <option value="Chorrillos">Chorrillos</option>
                                    <option value="Cieneguilla">Cieneguilla</option>
                                    <option value="Comas">Comas</option>
                                    <option value="El Agustino">El Agustino</option>
                                    <option value="Independencia">Independencia</option>
                                    <option value="Jesús María">Jesús María</option>
                                    <option value="La Molina">La Molina</option>
                                    <option value="La Victoria">La Victoria</option>
                                    <option value="Lince">Lince</option>
                                    <option value="Los Olivos">Los Olivos</option>
                                    <option value="Lurigancho">Lurigancho</option>
                                    <option value="Lurín">Lurín</option>
                                    <option value="Magdalena del Mar">Magdalena del Mar</option>
                                    <option value="Miraflores">Miraflores</option>
                                    <option value="Pachacamac">Pachacamac</option>
                                    <option value="Pucusana">Pucusana</option>
                                    <option value="Pueblo Libre">Pueblo Libre</option>
                                    <option value="Puente Piedra">Puente Piedra</option>
                                    <option value="Punta Hermosa">Punta Hermosa</option>
                                    <option value="Punta Negra">Punta Negra</option>
                                    <option value="Rímac">Rímac</option>
                                    <option value="San Bartolo">San Bartolo</option>
                                    <option value="San Borja">San Borja</option>
                                    <option value="San Isidro">San Isidro</option>
                                    <option value="San Juan de Lurigancho">San Juan de Lurigancho</option>
                                    <option value="San Juan de Miraflores">San Juan de Miraflores</option>
                                    <option value="San Luis">San Luis</option>
                                    <option value="San Martín de Porres">San Martín de Porres</option>
                                    <option value="San Miguel">San Miguel</option>
                                    <option value="Santa Anita">Santa Anita</option>
                                    <option value="Santa María del Mar">Santa María del Mar</option>
                                    <option value="Santa Rosa">Santa Rosa</option>
                                    <option value="Santiago de Surco">Santiago de Surco</option>
                                    <option value="Surquillo">Surquillo</option>
                                    <option value="Villa El Salvador">Villa El Salvador</option>
                                    <option value="Villa María del Triunfo">Villa María del Triunfo</option>
                                </select>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('distrito')}" th:errors="*{distrito}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Teléfono</span>
                                <input type="number" th:field="*{celular}" class="input-field2" placeholder="Ingrese su telefono">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Seguro </span>
                                <select th:field="*{seguro}" class="input-field3">
                                    <option value="">Seleccione su seguro</option>
                                    <option value="La Positiva">La Positiva</option>
                                    <option value="Rimac">Rimac</option>
                                    <option value="Pacífico">Pacífico</option>
                                    <option value="Mapfre">MAPFRE</option>
                                    <option value="Oncosalud">Oncosalud</option>
                                </select>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('seguro')}" th:errors="*{seguro}" style="margin-left: 10px ; color: red"></div>
                            </div>

                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Contraseña</span>
                                <input type="password" th:field="*{contrasena}" class="input-field2" placeholder="Ingrese su contraseña">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}" style="margin-left: 10px ; color: red"></div>
                            </div>
                            <div class="input-control2">
                                <span class="details" style="margin-left: 10px">Confirmar su contraseña</span>
                                <label for="contrasena2" class="input-label" hidden>Contraseña</label>
                                <input type="password" name="contrasena2" id="contrasena2" class="input-field2" placeholder="Confirme su contraseña">
                            </div>

                        </div>
                    </div>
                    <div class="content">
                        <div class="input-control">
                            <input type="submit" name="submit" class="input-submit" value="Registrar">
                        </div>
                    </div>
                </form>


        </div>

    </div>
</div>

<script>
    function togglePasswordVisibility(fieldId) {
        var field = document.getElementById(fieldId);
        if (field.type === "password") {
            field.type = "text";
        } else {
            field.type = "password";
        }
    }

    function validatePassword() {
        var password = document.getElementById('contrasena').value;
        var confirmPassword = document.getElementById('contrasena2').value;
        if (password !== confirmPassword) {
            alert("Las contraseñas no coinciden.");
            return false;
        }
        return true;
    }
</script>

</body>

</html>