<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Popup Login Form Design | CodingNepal</title>
      <!---CSS Longin-->
      <link rel="stylesheet" th:href="@{/css/login.css}">
      <!--Link de Login -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="center">
         <input type="checkbox" id="show">
         <div class="container">
            <div class="text">
               Recuperación de contraseña
            </div>
            <form action="#">
                <div class="data">
                  <label>Correo electronico</label>
                  <input type="text" required>
                </div>
            </form>
         </div>
      </div>
   </body>
</html>
