
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>Bienestar San Miguel | Login</title>


   <link rel="icon" type="image/x-icon" th:href="@{/media/favicon.png}">
   <link th:href="@{/css/styles.css}" rel="stylesheet" />
   <link th:href="@{/css/fonts.css}" rel="stylesheet" />
   <link th:href="@{/css/login-styles/login.css}" rel="stylesheet" />
   <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<header>
   <div class="login-top">
      <div>
         <a href="/"><img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo"></a>
      </div>

      <div class="top-menu">
         <a class="text menu-item roboto-regular" href="">Preguntas Frecuentes →</a>
         <a class="text menu-item roboto-regular" href="">Manual de Usuario →</a>
         <a class="text menu-item roboto-regular" href="https://munisanmiguel.gob.pe/#">Directorio de Servicios →</a>
      </div>
   </div>

</header>

<body>
<div class="main-container">
   <div class="login-container">

      <div class="wrapper3">
         <div class="login-title montserrat-bold">Recupera tu cuenta</div>
         <div class="_9nq2 marginBottom16px">Ingresa tu correo electrónico para restablecer tu contraseña.</div>
         <form class="login-form" th:action="@{/recuperarContraPost}" method="post" th:object="${usuario}">
            <div class="input-control3">
               <input th:field="*{correo}" type="email" name="email" required class="input-field" placeholder="Ingrese su correo electrónico" th:classappend="${#fields.hasErrors('correo') ? 'is-invalid' : ''}">
               <div  class="invalid-feedback" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></div>
            </div>
            <input type="submit" name="submit" class="input-submit" value="Enviar">
         </form>

      </div>

   </div>
</div>

</body>


</html>



