<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Registration Form | CodingLab </title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registro</div>
    <div class="content">
      <form method="post" th:action="@{/login/save}">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nombres</span>
            <input type="text" placeholder="Ingrese su nombre" required id="nombres">
          </div>
          <div class="input-box">
            <span class="details">Apellido</span>
            <input type="text" placeholder="Ingrese su apellido" required id="apellidos">
          </div>
          <div class="input-box">
            <span class="details">Dirección</span>
            <input type="text" placeholder="Ingrese su dirección" required id="direccion">
          </div>
          <div class="input-box">
            <span class="details">Telefono</span>
            <input type="number" placeholder="Ingrese su número telefonico " required id="celular">
          </div>
          <div class="input-box">
            <span class="details">Fecha de nacimiento</span>
            <input type="text" id ="birthdate" placeholder="Ingrese su fecha de nacimiento" required>
          </div>
          <div class="input-box">
            <span class="details">Correo electronico</span>
            <input type="email" placeholder="Ingrese su correo electronico" required id="correo">
          </div>
          <div class="input-box">
            <span class="details">Contraseña</span>
            <input type="password" placeholder="Ingrese su contraseña" required id="contrasena">
          </div>
          <div class="input-box">
            <span class="details">Confirmar su contraseña</span>
            <input type="text" placeholder="Confirme su contraseña" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Registrar">
        </div>
      </form>
    </div>
  </div>
</body>
</html>