body {
    margin: 0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    background-color: #f7f9fa !important;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1540px;
    margin-inline: auto;
    padding: 0 30px 0 30px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(182, 182, 182);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(141, 141, 141);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

:root {
    --color-text-1: #2f3a51;
    --color-text-2: #687196;
    --color-white: #ffffff;
    --color-light: #f1f5f9;
    --color-black: #121212;
    --color-night: #001632;

    --color-red: #f44336;
    --color-blue-clear: #e6f5ff;
    --color-blue: #106cfc;
    --color-blue--hover: #3a8bee;
    --color-gray: #80868b;
    --color-gray-2: #2a2a2a;
    --color-grayish: #dadce0;

    --shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.text {
    text-decoration: none;
    font-family: inherit;
    line-height: inherit;
    text-transform: unset;
    text-rendering: optimizeLegibility;
}

.text-normal {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-black);
}

.text-large {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-black);
}

.text-links {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-blue);
}

.text-links:hover {
    text-decoration: underline;
    transition: color 0.2s ease;
    color: var(--color-blue--hover);
}

/* BANNER */

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


.context {
    width: 100%;
    position: absolute;
    top:20vh;

}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 30px;
}


.area{

    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100px;

}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}