<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="icon" type="image/x-icon" th:href="@{/media/favicon.png}">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
        <!--=============== CSS ===============-->
        <link rel="stylesheet" th:href="@{/css/adminsede/indexstyle.css}">
        <!--link rel="stylesheet" th:href="@{/css/adminsede/graficos.css}"-->
        <link rel="stylesheet" th:href="@{/css/adminsede/tracking.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/fonts.css}">
        <link rel="stylesheet" th:href="@{/css/topbar.css}">
        <link rel="stylesheet" th:href="@{/css/footer.css}">
        <link rel="stylesheet" th:href="@{/css/farmacista/farmacista.css}">
        <link th:href="@{/css/preloader.css}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/css/paciente/paciente.css}">
        <link rel="stylesheet" th:href="@{/css/paciente/progress-bar.css}">
        <link rel="stylesheet" th:href="@{/css/scrollbar.css}">
        <link rel="stylesheet" th:href="@{/css/graficos.css}">

        <!--=============== JS ===============-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js" integrity="sha512-k37wQcV4v2h6jgYf5IUz1MoSKPpDs630XGSmCaCCOXxy2awgAWKHGZWr9nMyGgk3IOxA1NxdkN8r1JHgkUtMoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!--script th:src="@{/js/graficos.js}"></script-->
        <script th:src="@{/js/tracking.js}"></script>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/a2dd6045c4.js" crossorigin="anonymous"></script>

        <!--=============== SWEETALERT ===============-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.min.css" rel="stylesheet">

        <title>Bienestar San Miguel | Administrador de Sede</title>
    </head>

    <header class="header-topbar">
        <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Inicio')}"></nav>
    </header>

    <body>

    <div style="margin-top: 80px"></div>

    <div class="container">
        <div style="padding-top: 20px; padding-bottom: 20px">
            <div class="main-title open-sans-bold"> Inicio </div>
            <div class="main-subtitle helvetica-medium"> Vista de Estadísticas y Órdenes de reposición</div>
        </div>
        <hr class="style-one">

    </div>

    <div class="container">

        <div style="margin-bottom: 50px"></div>
        <h2><i class="fa-solid fa-star" style="color: #2a2a2a; margin-left: 33px"></i><strong style="padding-left: 10px; color: #2a2a2a">Estadísticas</strong></h2>
        <div style="margin-bottom: 40px"></div>

        <div style="padding-right: 0; padding-left: 0"> </div>
    </div>
    <br/>

    <div id="main-wrapper">
        <div class="content-body">
            <!-- row -->
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card1">
                                            <div class="card1-header border-0 flex-wrap">
                                                <h4 class="fs-20 font-w700 mb-2">Medicamentos Favoritos</h4>
                                                <div class="d-flex align-items-center project-tab mb-2">
                                                    <div class="card1-tabs mt-3 mt-sm-0 mb-3 ">
                                                        <ul class="nav1 nav1-tabs" role="tablist">
                                                            <li class="nav1-item">
                                                                <a class="nav1-link active" data-bs-toggle="tab" href="#monthly" role="tab">7 dias</a>
                                                            </li>
                                                            <li class="nav1-item">
                                                                <a class="nav1-link" data-bs-toggle="tab" href="#Weekly" role="tab">15 dias</a>
                                                            </li>
                                                            <li class="nav1-item">
                                                                <a class="nav1-link" data-bs-toggle="tab" href="#Today" role="tab">3 meses</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="dropdown1 ms-2">
                                                        <div class="btn1-link" data-bs-toggle="dropdown1">
                                                            <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5">
                                                                </circle>
                                                                <circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5">
                                                                </circle>
                                                                <circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5">
                                                                </circle>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card1-body">
                                                <div
                                                        class="d-flex justify-content-between align-items-center flex-wrap">
                                                    <div class="d-flex">
                                                        <div
                                                                class="d-inline-block position-relative donut-chart-sale mb-3">
															<span class="donut1"
                                                                  data-peity='{ "fill": ["rgba(136,108,192,1)", "rgba(241, 234, 255, 1)"],   "innerRadius": 20, "radius": 15}'>5/8</span>
                                                        </div>
                                                        <div class="ms-3">
                                                            <h4 class="fs-24 font-w700 ">246</h4>
                                                            <span class="fs-16 font-w400 d-block">Total Medicamentos</span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex">
                                                        <div class="d-flex me-5">
                                                            <div class="mt-2">
                                                                <svg width="13" height="13" viewbox="0 0 13 13"
                                                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <circle cx="6.5" cy="6.5" r="6.5" fill="#FFCF6D">
                                                                    </circle>
                                                                </svg>
                                                            </div>
                                                            <div class="ms-3">
                                                                <h4 class="fs-24 font-w700 ">246</h4>
                                                                <span class="fs-16 font-w400 d-block">Paracetamol</span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex">
                                                            <div class="mt-2">
                                                                <svg width="13" height="13" viewbox="0 0 13 13"
                                                                     fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <circle cx="6.5" cy="6.5" r="6.5" fill="#FFA7D7">
                                                                    </circle>
                                                                </svg>

                                                            </div>
                                                            <div class="ms-3">
                                                                <h4 class="fs-24 font-w700 ">28</h4>
                                                                <span class="fs-16 font-w400 d-block">Ibuprofeno</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-content">
                                                    <div class="tab-pane fade active show" id="monthly">
                                                        <div id="chartBar" class="chartBar"></div>
                                                    </div>
                                                    <div class="tab-pane fade" id="Weekly">
                                                        <div id="chartBar1" class="chartBar"></div>
                                                    </div>
                                                    <div class="tab-pane fade" id="Today">
                                                        <div id="chartBar2" class="chartBar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="card1">
                                            <div class="card1-header border-0 pb-0">
                                                <h4 class="fs-20 font-w700 mb-0">Ganancia total en ventas de la clinica</h4>
                                                <svg width="24" height="24" viewbox="0 0 24 24" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
                                                    <circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
                                                    <circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
                                                </svg>
                                            </div>
                                            <div class="card1-body pb-0">
                                                <div id="revenueMap" class="revenueMap"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="row">
                                            <div class="col-xl-6 col-sm-6">
                                                <div class="card1">
                                                    <div class="card1-body d-flex px-4 pb-0 justify-content-between">
                                                        <div>
                                                            <h4 class="fs-18 font-w600 mb-4 text-nowrap">Medicamentos Escasos
                                                            </h4>
                                                            <div class="d-flex align-items-center">
                                                                <h2 class="fs-32 font-w700 mb-0">68</h2>
                                                                <span class="d-block ms-4">
																	<svg width="21" height="11" viewbox="0 0 21 11"
                                                                         fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path
                                                                                d="M1.49217 11C0.590508 11 0.149368 9.9006 0.800944 9.27736L9.80878 0.66117C10.1954 0.29136 10.8046 0.291359 11.1912 0.661169L20.1991 9.27736C20.8506 9.9006 20.4095 11 19.5078 11H1.49217Z"
                                                                                fill="#09BD3C"></path>
																	</svg>
																	<small
                                                                            class="d-block fs-16 font-w400 text-success">+0,5%</small>
																</span>
                                                            </div>
                                                        </div>
                                                        <div id="columnChart"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-12 col-lg-12">
                                        <div class="row">
                                            <div class="col-xl-6 col-xxl-12 col-sm-6">
                                                <div class="card1">
                                                    <div class="card1-header border-0">
                                                        <div>
                                                            <h4 class="fs-20 font-w700">Top en ventas</h4>
                                                            <span class="fs-14 font-w400 d-block">Sede con mayor cantidad de transacciones </span>
                                                        </div>
                                                    </div>
                                                    <div class="card1-body">
                                                        <div id="emailchart"> </div>
                                                        <div class="mb-3 mt-4">
                                                            <h4 class="fs-18 font-w600">Leyenda</h4>
                                                        </div>
                                                        <div>
                                                            <div
                                                                    class="d-flex align-items-center justify-content-between mb-4">
																<span class="fs-18 font-w500">
																	<svg class="me-3" width="20" height="20"
                                                                         viewbox="0 0 20 20" fill="none"
                                                                         xmlns="http://www.w3.org/2000/svg">
																		<rect width="20" height="20" rx="6"
                                                                              fill="#886CC0"></rect>
																	</svg>
																	Sede central (27%)
																</span>
                                                                <span class="fs-18 font-w600">763</span>
                                                            </div>
                                                            <div
                                                                    class="d-flex align-items-center justify-content-between  mb-4">
																<span class="fs-18 font-w500">
																	<svg class="me-3" width="20" height="20"
                                                                         viewbox="0 0 20 20" fill="none"
                                                                         xmlns="http://www.w3.org/2000/svg">
																		<rect width="20" height="20" rx="6"
                                                                              fill="#26E023"></rect>
																	</svg>
																	Sede Norte (11%)
																</span>
                                                                <span class="fs-18 font-w600">321</span>
                                                            </div>
                                                            <div
                                                                    class="d-flex align-items-center justify-content-between  mb-4">
																<span class="fs-18 font-w500">
																	<svg class="me-3" width="20" height="20"
                                                                         viewbox="0 0 20 20" fill="none"
                                                                         xmlns="http://www.w3.org/2000/svg">
																		<rect width="20" height="20" rx="6"
                                                                              fill="#61CFF1"></rect>
																	</svg>
																	Sede Sur (22%)
																</span>
                                                                <span class="fs-18 font-w600">69</span>
                                                            </div>
                                                            <div
                                                                    class="d-flex align-items-center justify-content-between  mb-4">
																<span class="fs-18 font-w500">
																	<svg class="me-3" width="20" height="20"
                                                                         viewbox="0 0 20 20" fill="none"
                                                                         xmlns="http://www.w3.org/2000/svg">
																		<rect width="20" height="20" rx="6"
                                                                              fill="#FFDA7C"></rect>
																	</svg>
																	Sede Este (15%)
																</span>
                                                                <span class="fs-18 font-w600">154</span>
                                                            </div>
                                                            <div
                                                                    class="d-flex align-items-center justify-content-between  mb-4">
																<span class="fs-18 font-w500">
																	<svg class="me-3" width="20" height="20"
                                                                         viewbox="0 0 20 20" fill="none"
                                                                         xmlns="http://www.w3.org/2000/svg">
																		<rect width="20" height="20" rx="6"
                                                                              fill="#FF86B1"></rect>
																	</svg>
																	Sede Oeste (25%)
																</span>
                                                                <span class="fs-18 font-w600">696</span>
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>


        <div class = "container" th:if="${listaReposicionNoEntregadasUltimas.size() != 0}">
            <div class="container">

                <div style="margin-bottom: 50px"></div>
                <h2><i class="fa-solid fa-star" style="color: #2a2a2a;"></i><strong style="padding-left: 10px; color: #2a2a2a">Tracking órdenes de reposición</strong></h2>
                <div style="margin-bottom: 10px"></div>

                <div style="padding-right: 0; padding-left: 0"> </div>
            </div>
            <br/>
            <div th:each="orden : ${listaReposicionNoEntregadasUltimas}">
                <h2 style="margin-left: 30px" th:text="${'Orden de reposición #' + orden.getNumero()}">Orden de reposicion #1</h2>
                <div class="container-track1" style="margin-left: 30px" th:if="${orden.getEstado().getIdEstado() == 1}">
                    <div class="wrapper">
                        <h3>Estado de la orden</h3>
                        <div class="progress-container" style="margin-top: 60px">
                            <div class="progress" id="progress"></div>
                            <div class="barra"  style="width: 0%"></div>
                            <div class="progress-step" style="margin-right: 50px">
                                <div>
                                    <i class="fa-solid fa-list-ul active"></i>Recibido
                                </div>
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-cart-shopping"></i>En proceso
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-box"></i>Empaquetado
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-truck"></i>En ruta
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-check-double"></i>Entregado
                            </div>

                        </div>
                        <!--
                        <div class="btn-container">
                            <button class="btn" id="prev">Previous</button>
                            <button class="btn" id="next">Next</button>
                        </div>
                        -->
                    </div>

                    <div class = "container-orden">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9729.08126190579!2d-77.08409606049462!3d-12.060642000613765!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c93f68568ff7%3A0xef4f31a29f1c0409!2sPerufarma%20SA!5e0!3m2!1ses!2spe!4v1715203570043!5m2!1ses!2spe" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <div class="container-track1" style="margin-left: 30px" th:if="${orden.getEstado().getIdEstado() == 2}">
                    <div class="wrapper">
                        <h3>Estado de la orden</h3>
                        <div class="progress-container" style="margin-top: 60px">
                            <div class="progress" id="progress"></div>
                            <div class="barra"  style="width: 25%"></div>
                            <div class="progress-step" style="margin-right: 50px">
                                <div>
                                    <i class="fa-solid fa-list-ul active"></i>Recibido
                                </div>
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-cart-shopping active"></i>En proceso
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-box"></i>Empaquetado
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-truck"></i>En ruta
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-check-double"></i>Entregado
                            </div>

                        </div>
                        <!--
                        <div class="btn-container">
                            <button class="btn" id="prev">Previous</button>
                            <button class="btn" id="next">Next</button>
                        </div>
                        -->
                    </div>

                    <div class = "container-orden">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.575971232228!2d-77.07181742216821!3d-12.072669257653358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c91a6f8fbefb%3A0x408ed032eafa9864!2sMultilab%20Pueblo%20Libre!5e0!3m2!1ses!2spe!4v1712592591241!5m2!1ses!2spe" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>


                <div class="container-track1" style="margin-left: 30px" th:if="${orden.getEstado().getIdEstado() == 3}">
                    <div class="wrapper">
                        <h3>Estado de la orden</h3>
                        <div class="progress-container" style="margin-top: 60px">
                            <div class="progress" id="progress"></div>
                            <div class="barra"  style="width: 50%"></div>
                            <div class="progress-step" style="margin-right: 50px">
                                <div>
                                    <i class="fa-solid fa-list-ul active"></i>Recibido
                                </div>
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-cart-shopping active"></i>En proceso
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-box active"></i>Empaquetado
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-truck"></i>En ruta
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-check-double"></i>Entregado
                            </div>

                        </div>
                        <!--
                        <div class="btn-container">
                            <button class="btn" id="prev">Previous</button>
                            <button class="btn" id="next">Next</button>
                        </div>
                        -->
                    </div>

                    <div class = "container-orden">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.575971232228!2d-77.07181742216821!3d-12.072669257653358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c91a6f8fbefb%3A0x408ed032eafa9864!2sMultilab%20Pueblo%20Libre!5e0!3m2!1ses!2spe!4v1712592591241!5m2!1ses!2spe" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <div class="container-track1" style="margin-left: 30px" th:if="${orden.getEstado().getIdEstado() == 4}">
                    <div class="wrapper">
                        <div><h3>Estado de la orden</h3></div>
                        <div class="progress-container" style="margin-top: 60px">
                            <div class="progress" id="progress"></div>
                            <div class="barra"  style="width: 70%"></div>
                            <div class="progress-step" style="margin-right: 50px">
                                <div>
                                    <i class="fa-solid fa-list-ul active"></i>Recibido
                                </div>
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-cart-shopping active"></i>En proceso
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-box active"></i>Empaquetado
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-truck active"></i>En ruta
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-check-double"></i>Entregado
                            </div>

                        </div>
                        <!--
                        <div class="btn-container">
                            <button class="btn" id="prev">Previous</button>
                            <button class="btn" id="next">Next</button>
                        </div>
                        -->
                    </div>

                    <div class = "container-orden">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2510.0212800227946!2d-77.07316603547278!3d-12.071501581470043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c9113be95ead%3A0x105200a1cc20f03b!2sAvenida%20Simon%20Bolivar!5e0!3m2!1ses!2spe!4v1715203288656!5m2!1ses!2spe" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <br/><br/>


            <div class="container-graph-circular">
                <button class="btn-p" type="button" onclick="window.location.href = '/adminsede/ordenes'" style="margin-left: 20px">Ver más</button>
            </div>

        </div>

        <!--Footer -->
        <br/>
        <div th:replace="~{fragments/navbar.html :: footer}">
        </div>

        <script>
            $(document).ready(function() {
                var opened = false;

                $('#menu-small').hide();

                $('#nav-toggle').click(function (e) {
                    e.stopPropagation();
                    if (opened) {
                        $('#menu-small').hide();
                    } else {
                        $('#menu-small').show();
                    }
                    opened = !opened;
                });
            });
        </script>
        <!-- Para lista1 -->
        <div th:each="item : ${lista1}" class="lista1-item">
            <!-- Contenido de la lista -->
        </div>

        <!-- Para lista2 -->
        <div th:each="item : ${lista2}" class="lista2-item">
            <!-- Contenido de la lista -->
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Obtener el número de elementos en las listas
                var lista1Count = document.querySelectorAll('.lista1-item').length;
                var lista2Count = document.querySelectorAll('.lista2-item').length;

                // Verificar si alguna de las listas tiene elementos
                if (lista1Count > 0 || lista2Count > 0) {
                    // Mostrar la alerta
                    Swal.fire({
                        title: '¡Atención!',
                        text: 'Su inventario de medicamentos se está agotando. Por favor, revise su stock y realice los pedidos necesarios para evitar interrupciones en el servicio.',
                        icon: 'warning',
                        confirmButtonText: 'Entendido',
                        showCancelButton: true,
                        cancelButtonText: 'Ir a revisar',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // El usuario hizo clic en 'Entendido'
                            // Puedes agregar acciones adicionales aquí si es necesario
                        } else if (result.dismiss === Swal.DismissReason.cancel) {
                            // El usuario hizo clic en 'Ir a revisar'
                            // Redirigir a otra vista
                            window.location.href = '/adminsede/notificaciones_adminsede';
                        }
                    });
                }
            });

        </script>


        <!--JS y archvios para graficas de adminsede-->
        <script th:src="@{/js/topbar.js}"></script>

        <script th:src="@{/js/global/global.min.js}"></script>
        <script th:src="@{/js/chart.js/Chart.bundle.min.js}"></script>


        <!-- Apex Chart -->
        <script th:src="@{/js/apexchart/apexchart.js}"></script>

        <!-- Chart piety plugin files -->
        <script th:src="@{/js/peity/jquery.peity.min.js}"></script>

        <!-- Dashboard 1 -->
        <script th:src="@{/js/dashboard/dashboard-1.js}"></script>

        <script th:src="@{/js/custom.min.js}"></script>
        <script>
            function cardsCenter() {

                /*  testimonial one function by = owl.carousel.js */



                jQuery('.card1-slider').owlCarousel({
                    loop: true,
                    margin: 0,
                    nav1: true,
                    //center:true,
                    slideSpeed: 3000,
                    paginationSpeed: 3000,
                    dots: true,
                    navText: ['<i class="fas fa-arrow-left"></i>', '<i class="fas fa-arrow-right"></i>'],
                    responsive: {
                        0: {
                            items: 1
                        },
                        576: {
                            items: 1
                        },
                        800: {
                            items: 1
                        },
                        991: {
                            items: 1
                        },
                        1200: {
                            items: 1
                        },
                        1600: {
                            items: 1
                        }
                    }
                })
            }

            jQuery(window).on('load', function () {
                setTimeout(function () {
                    card1sCenter();
                }, 1000);
            });
            jQuery(document).ready(function () {
                setTimeout(function () {
                    dlabSettingsOptions.version = 'dark';
                    new dlabSettings(dlabSettingsOptions);
                }, 1500)
            });

        </script>



    </body>
</html>