<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="icon" type="image/x-icon" th:href="@{/favicon.png}">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
        <link th:href="@{/css/fonts.css}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/css/farmacista/farmacista.css}">
        <link th:href="@{/css/footer.css}" rel="stylesheet" />
        <link th:href="@{/css/preloader.css}" rel="stylesheet" />
        <script th:href="@{/js/pagination.js}"></script>


        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/fonts.css}">
        <link rel="stylesheet" th:href="@{/css/topbar.css}">
        <link rel="stylesheet" th:href="@{/css/footer.css}">
        <link rel="stylesheet" th:href="@{/css/scrollbar.css}">
        <link rel="stylesheet" th:href="@{/css/perfil.css}">
        <link th:href="@{/css/notificaciones.css}" rel="stylesheet" />



        <!--=============== JQUERY ===============-->
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

        <!--=============== SWEETALERT ===============-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.min.css" rel="stylesheet">

        <!--=============== FONT AWESOME ===============-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/a2dd6045c4.js" crossorigin="anonymous"></script>

        <style>
            .add-item-button-ad {
                display: block;
                font-size: 0.95rem;
                margin: 10px auto;
                border: 1px none;
                background-color: #1f73ef;
                color: #e7e9ee;
                padding: 10px 20px;
                border-radius: 10px;
                transition: background-color ease 0.2s;
            }
            .medicamento{
                width: 200px; height: 200px;
            }


            .open-sans-regular-ad {
                font-family: "Open Sans", sans-serif;
                font-weight: 400;
                font-style: normal;
            }
        </style>

        <title>Bienestar San Miguel | Sede 1</title>

    </head>


    <body class="loader-hidden">


        <div class="container-loader loader-hidden" id="onload">
            <div class="loader"></div>
        </div>

        <header class="header-topbar">
            <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Inventario')}"></nav>
        </header>


        <div th:replace="~{fragments/banner.html :: banner}"></div>

        <div class="container">

            <div style="padding-top: 20px; padding-bottom: 20px">
                <div class="main-title open-sans-bold"> Inventario </div>
                <div class="main-subtitle helvetica-medium"> Vista de medicamentos de la sede</div>
            </div>

            <hr class="style-one">
            <div th:if="${msgred != null}" th:text="${msgred}" class="alert alert-success" role="alert" style="margin-top: 30px; background-color: #F8D7DA; color: #58151C; border-color: #f1aeb5"></div>



            <div class="items-preview hide" id="items-preview">

                <div class="container-preview">

                    <div class="preview-title roboto-regular">
                        Lista de Productos Seleccionados - Nueva solicitud de orden de reposición

                        <div class="price-total-div roboto-medium">
                            TOTAL <span class="price-total">S/0.00</span>
                        </div>

                        <div>

                            <form th:action="@{/adminsede/generar_orden}" method="post">
                                <input id="listaIds" type="hidden" name="listaIds" value=""/>
                                <button type="submit" class="continue-button montserrat-medium">Continuar</button>
                            </form>

                        </div>
                    </div>

                    <div class="lista-items-clicked" style="display: flex; flex-direction: column-reverse">

                    </div>

                </div>

            </div>



            <div class="interface">


                <div class="filtros" style="max-height: 390px">
                    <div class="container-filters">

                        <div class="alert roboto-regular">
                            Categorías
                        </div>
                        <hr>
                        <br/>

                        <div class="list-categorias">

                            <div class="categoria-div"><a class="categoria" href="/adminsede/medicamentos">Todas las Categorías</a></div><br/>
                            <div class="categoria-div"><a class="categoria" href="/adminsede/medicamentos?state=disponible">Stock Aceptable</a></div><br/>
                            <div class="categoria-div"><a class="categoria" href="/adminsede/medicamentos?state=agotado">Stock Agotado</a></div><br/>
                            <div class="categoria-div"><a class="categoria" href="/adminsede/medicamentos?state=poragotar">Stock por Agotar</a></div>

                        </div>
                        <br/>
                        <hr>
                        <br/>

                        <div class="alert roboto-regular">
                            Administrador de Sede 1
                        </div>

                    </div>

                </div>


                <section class="medicamentos">

                    <div style="display: grid; justify-content: space-between; grid-template-columns: 1fr 0.2fr;">
                        <div>
                            <input id="searchInput" type="text" class="input-form" style="outline: none" placeholder="Buscar medicamento por nombre" >
                        </div>

                        <a href="/adminsede/medicamentos"><button class="add-item-button open-sans-regular" style="color: #ffffff">Borrar Filtros</button></a>

                    </div>

                    <!-- Contenedor de elementos -->
                    <div class="med-container">
                        <div class="item" th:each="medicamento, info: ${listaMedicamentosSedeStock}">
                            <img th:src="'data:image/jpeg;base64,' + ${listaFotosMedicamentos[info.index]}" class="img-item" style="width: 200px; height: 200px;"/>
                            <div style="display: grid; grid-template-rows: 1fr 0.2fr;">
                                <div>
                                    <div class="subtitulo-item roboto-bold" th:text="${medicamento.getUnidad()}" >Unidad</div>
                                    <div class="item-title roboto-medium" th:text="${medicamento.getNombre()}" style="margin-top: 5px; width: 181px; height: 36px; ">Medicamento</div><br/>
                                </div>
                                <div th:text="'Cantidad disponible: ' + ${medicamento.getCantidad()}" style="font-size: 18px"></div>
                                <div style="display: flex; flex-direction: row; gap: 3px; align-items: end; margin-left: 2px">
                                    <span style="font-size: 18" th:text="'Precio:'"/>
                                    <span class="item-symbol" style="font-size: 18.4px">S/. </span><span class="item-price roboto-regular" th:text="${medicamento.getPrecioCompra()}">Precio</span>
                                </div>
                                <div style="align-items: center; background-color: #ffffff" class="add-item-button-ad open-sans-regular-ad">
                                    <div th:if="${medicamento.getCantidad() > 25}" th:text="'Stock Aceptable'" class="btn-green" style="justify-content: center; text-align: center; align-content: center; align-items: center"></div>
                                    <div th:if="${medicamento.getCantidad() <= 25 && medicamento.getCantidad() != 0}" th:text="'Por Agotar'" class="btn-yellow" style="justify-content: center; text-align: center; align-content: center; align-items: center"></div>
                                    <div th:if="${medicamento.getCantidad() == 0}" th:text="'Agotado'" class="btn-red" style="justify-content: center; text-align: center; align-content: center; align-items: center"></div>
                                </div>
                            </div>

                            <button class="add-item-button open-sans-regular" style="color: #ffffff" th:if="${medicamento.getCantidad() <= 25}" th:data-item-id="${medicamento.getIdMedicamento()}">Añadir Producto</button>

                        </div>


                    </div>
                    <div class="pagination" id="pagination">
                        <!-- Aquí se añadirán los botones de paginación -->
                    </div>

                </section>

            </div>

        </div>

        <div th:replace="~{fragments/navbar.html :: footer}">
        </div>



        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const itemsPerPage = 10; // Número de medicamentos por página
                let currentPage = 1; // Página actual

                const medicamentos = document.querySelectorAll('.med-container .item');
                const totalMedicamentos = medicamentos.length;

                function mostrarMedicamentos() {
                    const startIndex = (currentPage - 1) * itemsPerPage;
                    const endIndex = startIndex + itemsPerPage;

                    medicamentos.forEach((medicamento, index) => {
                        if (index >= startIndex && index < endIndex) {
                            medicamento.style.display = 'block';
                        } else {
                            medicamento.style.display = 'none';
                        }
                    });

                    mostrarPaginacion();
                }

                function mostrarPaginacion() {
                    const totalPages = Math.ceil(totalMedicamentos / itemsPerPage);
                    const pagination = document.getElementById('pagination');
                    pagination.innerHTML = '';

                    for (let i = 1; i <= totalPages; i++) {
                        const button = document.createElement('button');
                        button.textContent = i;
                        button.addEventListener('click', function() {
                            currentPage = i;
                            mostrarMedicamentos();
                        });

                        if (i === currentPage) {
                            button.classList.add('active'); // Añadir clase 'active' al botón de la página actual
                        }

                        pagination.appendChild(button);
                    }
                }

                // Mostrar la paginación y la primera página al cargar la página
                mostrarMedicamentos();
            });

        </script>

        <script>

            $(document).ready(function() {
                $('#searchInput').on('input', function() { // Escuchar el evento 'input'
                    var searchTerm = $(this).val().trim().toLowerCase();
                    $('.item').each(function() {
                        var itemName = $(this).find('.item-title').text().trim().toLowerCase();
                        if (itemName.includes(searchTerm)) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                });

            });

        </script>

        <script>

            listaSelectedIds = [];

            $(document).ready(function() {

                const botonesEliminarItem = document.getElementsByClassName('btn-eliminar');
                for(var i=0;i<botonesEliminarItem.length; i++){
                    const buttonEliminar = botonesEliminarItem[i];
                    buttonEliminar.addEventListener('click',eliminarItemCarrito);
                }
                var botonesSumarCantidad = document.getElementsByClassName('sumar-cantidad');
                for(var i=0;i<botonesSumarCantidad.length; i++){
                    const buttonSumar = botonesSumarCantidad[i];
                    buttonSumar.addEventListener('click',sumarCantidad);
                }
                var botonesRestarCantidad = document.getElementsByClassName('restar-cantidad');
                for(var i=0;i<botonesRestarCantidad.length; i++){
                    const buttonRestar = botonesRestarCantidad[i];
                    buttonRestar.addEventListener('click',restarCantidad);
                }
                var botonesAgregar = document.getElementsByClassName('add-item-button');
                for(var i=0; i<botonesAgregar.length;i++){
                    const buttonAgregar = botonesAgregar[i];
                    buttonAgregar.addEventListener('click', clickItemAdd);
                }

                function clickItemAdd(event){

                    const button = event.target;
                    const idAdd = button.dataset.itemId;
                    const item = button.parentElement;
                    const titulo = item.getElementsByClassName('item-title')[0].innerText;
                    const precio = item.getElementsByClassName('item-price')[0].innerText;
                    const imagenSrc = item.getElementsByClassName('img-item')[0].src;
                    console.log(precio)


                    if (listaSelectedIds.indexOf(idAdd) === -1) {
                        listaSelectedIds.push(idAdd);
                        listaSelectedIds.push(1);
                    }

                    const listaIdsInput = document.getElementById('listaIds');
                    listaIdsInput.value = listaSelectedIds;

                    addItemToList(idAdd, titulo, precio, imagenSrc);
                    ShowList();
                }

                function deleteItem(event){

                    const button = event.target;
                    const idDelete = button.dataset.itemId;

                    let pos = listaSelectedIds.indexOf(idDelete);
                    listaSelectedIds.splice(pos,1);
                    listaSelectedIds.splice(pos+1,1);

                    const listaIdsInput = document.getElementById('listaIds');
                    listaIdsInput.value = listaSelectedIds;

                    button.parentElement.parentElement.parentElement.remove();
                    hideorShowList();
                    actualizarMontoTotal();
                }


                function addItemToList(id, titulo, precio, imagenSrc){
                    const Swal = window.Swal;

                    const item = document.createElement('div');
                    item.classList.add = ('item-clicked');
                    const itemsList = document.getElementsByClassName('lista-items-clicked')[0];

                    if (itemsList.getElementsByClassName('item-title-clicked').length > 0){

                        const alreadyOnList = itemsList.getElementsByClassName('item-title-clicked');

                        for(let i=0; i < alreadyOnList.length; i++){
                            if(alreadyOnList[i].innerText===titulo){
                                Swal.fire({
                                    title: "Ya está en la lista",
                                    text: "El medicamento ya fue agregado.",
                                    icon: "info"
                                });
                                return;
                            }
                        }
                    }


                    const itemNewSelected = `
        <div class="selected-item">

            <img src="${imagenSrc}" width="40px" height="auto" alt="">

            <span class="item-title-clicked">${titulo}</span>

            <div class="item-on-list">

                <div class="item-details">
                    <div class="selector-cantidad">
                        <i class="fa-solid fa-minus restar-cantidad" data-item-id="${id}"></i>
                        <input type="text" value="1" class="item-quantity-clicked" data-item-id="${id}">
                        <i class="fa-solid fa-plus sumar-cantidad" data-item-id="${id}"></i>
                    </div>

                    <div style="display: flex; flex-direction: row; gap: 5px; align-items: center;">
                            <span style="padding-top: 5px;">S/. </span><span class="item-price-clicked">${precio}</span>
                    </div>
                </div>

                <button class="btn btn-danger btn-eliminar" data-item-id="${id}">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>

        </div>
    `;
                    item.innerHTML = itemNewSelected;
                    itemsList.append(item);

                    item.getElementsByClassName('btn-eliminar')[0].addEventListener('click', deleteItem);

                    const botonRestarCantidad = item.getElementsByClassName('restar-cantidad')[0];
                    botonRestarCantidad.addEventListener('click',restarCantidad);

                    const botonSumarCantidad = item.getElementsByClassName('sumar-cantidad')[0];
                    botonSumarCantidad.addEventListener('click',sumarCantidad);

                    const inputCantidad = item.getElementsByClassName('item-quantity-clicked')[0];
                    inputCantidad.addEventListener('change', setearCantidad);
                    inputCantidad.addEventListener('focus', function(event) {
                        event.target.dataset.previousValue = event.target.value;
                    });

                    actualizarMontoTotal();
                    ShowList();
                }


                function sumarCantidad(event){
                    const buttonClicked = event.target;
                    const idAddQuantity = buttonClicked.dataset.itemId;
                    const selector = buttonClicked.parentElement;
                    console.log(selector.getElementsByClassName('item-quantity-clicked')[0].value);
                    let cantidadActual = selector.getElementsByClassName('item-quantity-clicked')[0].value;
                    cantidadActual++;
                    selector.getElementsByClassName('item-quantity-clicked')[0].value = cantidadActual;

                    const toPlus = listaSelectedIds.indexOf(idAddQuantity);

                    listaSelectedIds[toPlus+1] = cantidadActual;

                    actualizarMontoTotal();
                }

                function restarCantidad(event){
                    const buttonClicked = event.target;
                    const idQuitQuantity = buttonClicked.dataset.itemId;
                    const selector = buttonClicked.parentElement;
                    console.log(selector.getElementsByClassName('item-quantity-clicked')[0].value);


                    let cantidadActual = selector.getElementsByClassName('item-quantity-clicked')[0].value;
                    cantidadActual--;
                    if(cantidadActual>=1){
                        selector.getElementsByClassName('item-quantity-clicked')[0].value = cantidadActual;

                        const toMinus = listaSelectedIds.indexOf(idQuitQuantity);

                        listaSelectedIds[toMinus+1] = cantidadActual;

                        actualizarMontoTotal();
                    }
                }

                function setearCantidad(event){
                    const inputFilled = event.target;
                    const idSetQuantity = inputFilled.dataset.itemId;
                    const valor = inputFilled.value;
                    const cantidadActual = parseInt(valor); // Convertir a número entero

                    // Verificar si el valor es un número válido
                    if (!isNaN(cantidadActual) && cantidadActual >= 1) {
                        // Actualizar el valor del input y el monto total

                        const toSet = listaSelectedIds.indexOf(idSetQuantity);

                        listaSelectedIds[toSet+1] = cantidadActual;

                        actualizarMontoTotal();
                    } else {
                        // Restaurar el valor anterior si no es válido
                        inputFilled.value = inputFilled.dataset.previousValue;
                    }
                }

                function actualizarMontoTotal() {
                    const listItems = document.getElementsByClassName('lista-items-clicked')[0];
                    const selectedItems = listItems.getElementsByClassName('selected-item');
                    let totalCentavos = 0;

                    for (let i = 0; i < selectedItems.length; i++) {
                        const item = selectedItems[i];
                        const precioItem = Math.round(parseFloat(item.getElementsByClassName('item-price-clicked')[0].innerText.replace('S/', '').replace(/,/g, '')) * 100);
                        const cantidadItem = item.getElementsByClassName('item-quantity-clicked')[0].value;
                        totalCentavos += precioItem * cantidadItem;
                    }
                    const totalSoles = totalCentavos / 100;
                    document.getElementsByClassName('price-total')[0].innerText = 'S/' + totalSoles.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');

                    const listaIdsInput = document.getElementById('listaIds');
                    listaIdsInput.value = listaSelectedIds.join(',');

                }

                function hideorShowList(){
                    const someElement = document.getElementsByClassName('selected-item');

                    if(someElement.length === 0){
                        listaSelectedIds = [];
                        HideList();
                    }
                }

                function HideList(){
                    const itemsPreview = document.getElementById('items-preview');
                    itemsPreview.classList.add('hide');
                }

                function ShowList(){
                    const itemsPreview = document.getElementById('items-preview');
                    itemsPreview.classList.remove('hide');
                }

            });
        </script>


        <script>
            $(document).ready(function() {
                let opened = false;

                $('#menu-small').hide();

                $('#nav-toggle').click(function (e) {
                    e.stopPropagation();
                    if (opened) {
                        $('#menu-small').hide();
                    } else {
                        $('#menu-small').show();
                    }
                    opened = !opened;
                });
            });
        </script>

        <script>
            window.onload = function () {
                $('#onload').fadeOut();
                $('body').removeClass('loader-hidden');
            }

        </script>


    </body>

</html>