<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="icon" type="image/x-icon" th:href="@{/media/favicon.png}">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
        <!--=============== CSS ===============-->
        <link rel="stylesheet" th:href="@{/css/adminsede/indexstyle.css}">
        <link rel="stylesheet" th:href="@{/css/adminsede/graficos.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/fonts.css}">
        <link rel="stylesheet" th:href="@{/css/topbar.css}">
        <link rel="stylesheet" th:href="@{/css/footer.css}">
        <link rel="stylesheet" th:href="@{/css/paciente/paciente.css}">
        <link rel="stylesheet" th:href="@{/css/farmacista/farmacista.css}">
        <link rel="stylesheet" th:href="@{/css/paciente/progress-bar.css}">
        <link rel="stylesheet" th:href="@{/css/scrollbar.css}">
        <link th:href="@{/css/preloader.css}" rel="stylesheet" />


        <!--=============== JS ===============-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js" integrity="sha512-k37wQcV4v2h6jgYf5IUz1MoSKPpDs630XGSmCaCCOXxy2awgAWKHGZWr9nMyGgk3IOxA1NxdkN8r1JHgkUtMoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script th:src="@{/js/graficos.js}"></script>
        <script th:src="@{/js/tracking.js}"></script>
        <script th:href="@{/js/pagination.js}"></script>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>


        <!--=============== SWEETALERT ===============-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.min.css" rel="stylesheet">

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/a2dd6045c4.js" crossorigin="anonymous"></script>

        <style>


            .btn-p {
                font-size: 17px;
                padding: 12px 20px;
                background-color: #2191FD; /* Color de fondo del botón */
                color: white; /* Color del texto del botón */
                border: none; /* Sin borde */
                border-radius: 5px; /* Bordes redondeados */
                cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
                margin: 0 10px; /* Espaciado horizontal */
            }

            .btn-p:hover {
                background-color: #0d6efd; /* Color de fondo del botón al pasar el cursor */
            }

            #searchInput {
                padding: 12px 20px;
                font-size: 17px;
                width: 350px;
                border: 3px solid rgba(33, 145, 253, 0.75);
                border-radius: 5px; /* Bordes redondeados */
                margin: 0 10px; /* Espaciado horizontal */
            }

            .container3 {
                display: flex;
                align-items: center; /* Centra verticalmente los elementos */
                justify-content: space-between; /* Espacia los elementos horizontalmente */
                margin: 20px; /* Margen alrededor del contenedor */
            }

            .left {
                display: flex;
                align-items: center; /* Centra verticalmente los elementos */
            }

            .right {
                margin-left: auto; /* Empuja el botón a la derecha */
            }
            .btn-c {
                display: inline-block;
                padding: 12px 20px;
                color:white;
                background-color: #d525ad;
                text-decoration: none;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s, border-color 0.3s;
                font-size: 17px;
            }
            .btn-n {
                display: inline-block;
                padding: 12px 20px;
                color:white;
                background-color: #1a72e7;
                text-decoration: none;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s, border-color 0.3s;
                font-size: 17px;
            }
            .alert {
                padding: 15px;
                margin-bottom: 20px;
                border: 1px solid transparent;
                border-radius: 4px;
            }

            .alert-success {
                color: #155724;
                background-color: #d4edda;
                border-color: #c3e6cb;
            }
            @import url('https://fonts.googleapis.com/css2?family=Aptos:wght@700&display=swap');

            .area {
                height: 19vh !important;
            }

            .circles {
                height: 19vh !important;
            }

            .banner-btn {
                color: #fff !important;
                border: solid 1px #fff !important;
                border-radius: 5px !important;
                cursor: pointer !important;
                align-items: center !important;
                display: flex !important;
                background: none !important;
            }

            .bell-btn {
                padding: 14px 14px 14px 14px;
                font-size: 1.1rem !important;
            }

            .user-btn {
                padding: 10px 12px 10px 12px;
                font-size: 1.1rem !important;
            }

            .exit-btn {
                padding: 14px 12px 14px 12px;
                font-size: 1.1rem !important;
            }

        </style>

        <title>Órdenes de reposición</title>
    </head>


    <body class="loader-hidden">

    <header class="header-topbar">
        <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Órdenes de Reposición')}"></nav>
    </header>

    <div th:replace="~{fragments/banner.html :: banner}"></div>

    <div class="container-loader loader-hidden" id="onload">
        <div class="loader"></div>
    </div>

    <div class = "container">
            <div class="container">
                <div style="padding-top: 20px; padding-bottom: 20px">
                    <div class="main-title open-sans-bold"> Órdenes de reposición </div>
                    <div class="main-subtitle helvetica-medium"> Tracking de las órdenes de reposición de la sede</div>
                </div>
                <hr class="style-one">
                <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert" style="margin-top: 30px;"></div>
                <div th:if="${msgred != null}" th:text="${msgred}" class="alert alert-success" role="alert" style="margin-top: 30px; background-color: #F8D7DA; color: #58151C; border-color: #f1aeb5"></div>
                <div style="margin-bottom: 10px"></div>

                <div style="padding-right: 0; padding-left: 0"> </div>
            </div>
            <br/>
        <div class="container3">
            <div class="left">
                <button class="btn-p" type="button" onclick="window.location.href = '/adminsede/medicamentos'">Generar nueva orden</button>
                <input type="text" id="searchInput" placeholder="Buscar por número de orden">
            </div>
            <div class="right">
                <button class="btn-p" type="button" onclick="window.location.href = '/adminsede/ver_ordenes_entregadas'">Ver órdenes entregadas</button>
            </div>
        </div>
            <br/>
            <br/>
            <br>
            <div class="hola">
                <div class="chau" th:each="orden : ${listaReposicionNoEntregadas}" >
                    <div class="orden-container">
                        <h2 class="orden-numero" style="margin-left: 30px" th:text="${ 'Orden de reposición #'+ orden.getNumero()}">Orden de reposición #1</h2>
                        <div th:if="${orden.getEstado().getIdEstado() == 1}" style="display: flex; align-items: center;">
                            <a th:href="@{'/adminsede/editar_orden_reposicion?id=' + ${orden.getIdReposicion()}}" class="edit-icon" style="margin-left: 30px"><i class="fas fa-pencil-alt"></i></a>
                            <!--a th:href="@{'/adminsede/eliminar_orden_reposicion?id=' + ${orden.getIdReposicion()}}" class="delete-icon"><i class="fas fa-trash-alt" style="margin-left: 10px"></i></a-->
                            <form class="formEstadoSolicitud" th:action="@{'/adminsede/eliminar_orden_reposicion'}" method="post">
                                <input type="hidden" name="getIdReposicion" th:value="${orden.getIdReposicion()}">
                                <button type="submit" class="delete-icon" style="background: none; border: none; text-decoration: underline; color: blue;">
                                    <i class="fas fa-trash-alt" style="margin-left: 10px;"></i>
                                </button>
                            </form>
                        </div>
                        <div th:if="${orden.getEstado().getIdEstado() == 2}" style="display: flex; align-items: center;">
                    <a th:href="@{'/adminsede/editar_orden_reposicion?id=' + ${orden.getIdReposicion()}}" class="edit-icon" style="margin-left: 30px"><i class="fas fa-pencil-alt"></i></a>

                    <!--a th:href="@{'/adminsede/eliminar_orden_reposicion?id=' + ${orden.getIdReposicion()}}" class="delete-icon"><i class="fas fa-trash-alt" style="margin-left: 10px"></i></a-->
                    <form class="formEstadoSolicitud" th:action="@{'/adminsede/eliminar_orden_reposicion'}" method="post">
                        <input type="hidden" name="getIdReposicion" th:value="${orden.getIdReposicion()}">
                        <button type="submit" class="delete-icon" style="background: none; border: none; text-decoration: underline; color: blue;">
                            <i class="fas fa-trash-alt" style="margin-left: 10px;"></i>
                        </button>
                    </form>
                </div>

                        <div class="container-track1" style="margin-left: 30px" th:if="${orden.getEstado().getIdEstado() == 1}">
                    <div class="wrapper">
                        <h3>Estado de la orden</h3>
                        <div class="progress-container" style="margin-top: 60px">
                            <div class="progress" id="progress"></div>
                            <div class="barra"  style="width: 0%"></div>
                            <div class="progress-step" style="margin-right: 50px">
                                <div>
                                    <i class="fa-solid fa-list-ul active"></i>Recibido
                                </div>
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-cart-shopping"></i>En proceso
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-box"></i>Empaquetado
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-truck"></i>En ruta
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-check-double"></i>Entregado
                            </div>

                        </div>
                        <!--
                        <div class="btn-container">
                            <button class="btn" id="prev">Previous</button>
                            <button class="btn" id="next">Next</button>
                        </div>
                        -->
                    </div>

                    <div class = "container-orden">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9729.08126190579!2d-77.08409606049462!3d-12.060642000613765!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c93f68568ff7%3A0xef4f31a29f1c0409!2sPerufarma%20SA!5e0!3m2!1ses!2spe!4v1715203570043!5m2!1ses!2spe" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                        <div class="container-track1" style="margin-left: 30px" th:if="${orden.getEstado().getIdEstado() == 2}">
                    <div class="wrapper">
                        <h3>Estado de la orden</h3>
                        <div class="progress-container" style="margin-top: 60px">
                            <div class="progress" id="progress"></div>
                            <div class="barra"  style="width: 25%"></div>
                            <div class="progress-step" style="margin-right: 50px">
                                <div>
                                    <i class="fa-solid fa-list-ul active"></i>Recibido
                                </div>
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-cart-shopping active"></i>En proceso
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-box"></i>Empaquetado
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-truck"></i>En ruta
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-check-double"></i>Entregado
                            </div>

                        </div>
                        <!--
                        <div class="btn-container">
                            <button class="btn" id="prev">Previous</button>
                            <button class="btn" id="next">Next</button>
                        </div>
                        -->
                    </div>

                    <div class = "container-orden">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.575971232228!2d-77.07181742216821!3d-12.072669257653358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c91a6f8fbefb%3A0x408ed032eafa9864!2sMultilab%20Pueblo%20Libre!5e0!3m2!1ses!2spe!4v1712592591241!5m2!1ses!2spe" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>


                        <div class="container-track1" style="margin-left: 30px" th:if="${orden.getEstado().getIdEstado() == 3}">
                    <div class="wrapper">
                        <h3>Estado de la orden</h3>
                        <div class="progress-container" style="margin-top: 60px">
                            <div class="progress" id="progress"></div>
                            <div class="barra"  style="width: 50%"></div>
                            <div class="progress-step" style="margin-right: 50px">
                                <div>
                                    <i class="fa-solid fa-list-ul active"></i>Recibido
                                </div>
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-cart-shopping active"></i>En proceso
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-box active"></i>Empaquetado
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-truck"></i>En ruta
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-check-double"></i>Entregado
                            </div>

                        </div>
                        <!--
                        <div class="btn-container">
                            <button class="btn" id="prev">Previous</button>
                            <button class="btn" id="next">Next</button>
                        </div>
                        -->
                    </div>

                    <div class = "container-orden">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.575971232228!2d-77.07181742216821!3d-12.072669257653358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c91a6f8fbefb%3A0x408ed032eafa9864!2sMultilab%20Pueblo%20Libre!5e0!3m2!1ses!2spe!4v1712592591241!5m2!1ses!2spe" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                        <div class="container-track1" style="margin-left: 30px" th:if="${orden.getEstado().getIdEstado() == 4}">
                    <div class="wrapper">
                        <div><h3>Estado de la orden</h3></div>
                        <div class="progress-container" style="margin-top: 60px">
                            <div class="progress" id="progress"></div>
                            <div class="barra"  style="width: 70%"></div>
                            <div class="progress-step" style="margin-right: 50px">
                                <div>
                                    <i class="fa-solid fa-list-ul active"></i>Recibido
                                </div>
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-cart-shopping active"></i>En proceso
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-box active"></i>Empaquetado
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-truck active"></i>En ruta
                            </div>
                            <div class="progress-step" style="margin-right: 50px">
                                <i class="fa-solid fa-check-double"></i>Entregado
                            </div>

                        </div>
                        <!--
                        <div class="btn-container">
                            <button class="btn" id="prev">Previous</button>
                            <button class="btn" id="next">Next</button>
                        </div>
                        -->
                    </div>

                    <div class = "container-orden">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2510.0212800227946!2d-77.07316603547278!3d-12.071501581470043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c9113be95ead%3A0x105200a1cc20f03b!2sAvenida%20Simon%20Bolivar!5e0!3m2!1ses!2spe!4v1715203288656!5m2!1ses!2spe" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                    </div>
                </div>
            </div>
        <div class="pagination" id="pagination">
            <!-- Aquí se añadirán los botones de paginación -->
        </div>
        </div>
        <br/>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const itemsPerPage = 5; // Número de medicamentos por página
            let currentPage = 1; // Página actual

            const medicamentos = document.querySelectorAll('.hola .chau');
            const totalMedicamentos = medicamentos.length;

            function mostrarMedicamentos() {
                const startIndex = (currentPage - 1) * itemsPerPage;
                const endIndex = startIndex + itemsPerPage;

                medicamentos.forEach((medicamento, index) => {
                    if (index >= startIndex && index < endIndex) {
                        medicamento.style.display = 'block';
                    } else {
                        medicamento.style.display = 'none';
                    }
                });

                mostrarPaginacion();
            }

            function mostrarPaginacion() {
                const totalPages = Math.ceil(totalMedicamentos / itemsPerPage);
                const pagination = document.getElementById('pagination');
                pagination.innerHTML = '';

                for (let i = 1; i <= totalPages; i++) {
                    const button = document.createElement('button');
                    button.textContent = i;
                    button.addEventListener('click', function() {
                        currentPage = i;
                        mostrarMedicamentos();
                    });

                    if (i === currentPage) {
                        button.classList.add('active'); // Añadir clase 'active' al botón de la página actual
                    }

                    pagination.appendChild(button);
                }
            }

            // Mostrar la paginación y la primera página al cargar la página
            mostrarMedicamentos();
        });

    </script>



        <!--Footer -->
        <br/>
        <div th:replace="~{fragments/navbar.html :: footer}">
        </div>

        <script>
            $(document).ready(function() {
                var opened = false;

                $('#menu-small').hide();

                $('#nav-toggle').click(function (e) {
                    e.stopPropagation();
                    if (opened) {
                        $('#menu-small').hide();
                    } else {
                        $('#menu-small').show();
                    }
                    opened = !opened;
                });
            });
        </script>

        <script>

            document.querySelectorAll(".formEstadoSolicitud").forEach(form => {
                form.addEventListener("submit", function(e){
                    e.preventDefault();
                    Swal.fire({
                        title: '¿Estás seguro?',
                        text: "¿Estás seguro de que quieres eliminar esta Orden de Reposición?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Sí, eliminar',
                        cancelButtonText: 'No, cancelar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            e.target.submit();
                        }
                    })
                });
            });

        </script>

    <script>
        window.onload = function () {
            $('#onload').fadeOut();
            $('body').removeClass('loader-hidden');
        }

    </script>

    <script>
        document.getElementById('searchInput').addEventListener('input', function () {
            var input = this.value.toLowerCase();
            var ordenes = document.querySelectorAll('.orden-container');

            ordenes.forEach(function (orden) {
                var numeroOrden = orden.querySelector('.orden-numero').textContent.toLowerCase();
                if (numeroOrden.includes(input)) {
                    orden.style.display = '';
                } else {
                    orden.style.display = 'none';
                }
            });
        });
    </script>

    </body>
</html>