
:root {
    --box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px
}


section {
    background-color: white;
    box-shadow: var(--box-shadow);
    width: 700px;
    backdrop-filter: blur(55px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 8px;
    height: 620px

}



.group {
    display: grid;
    grid-template-columns: 55px calc(100% - 55px);
    grid-template-rows: repeat(2, 30px);
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    list-style-type: none;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.avatar {
    grid-row: 1/span 2;
    background-color: white;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 10px;
}

.GroupDescrp {
    width: 100%;
    padding: 5px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.GroupName {
    padding: 5px 10px;
}

.group:hover {
    background-color: #ffffff21;
}

.avatar img {
    height: 80%;
    width: auto;
    margin: auto;
}

.ChatHead {
    display: flex;
    align-items: center;
    color:white;

}

.ChatHead .group:hover {
    background-color: transparent;
}

.ChatHead .group {
    width: 600px;
    display: flex;
    align-items: center;
}

.ChatHead .group .GroupName {
    font-size: 20px;
    width: 260px;
    font-weight: bold;
    color: dimgray;
}

.ChatHead .group .avatar {
    padding: 5px;
    height: 40px;
    width: 40px;
}

.callGroup {
    margin-left: auto;
    padding: 10px;
    font-size: 1rem;
}

.callGroup i {
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.callGroup i:hover {
    background-color: #9090903a;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e9e9e948;
}

::-webkit-scrollbar-thumb {
    background: #e9e9e962;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e9e9e9c8;
}

.MessageContainer {
    flex: 1;
}

#MessageForm {
    padding: 10px;
    display: flex;
}

.inputMensaje{
    padding: 10px;
    flex: 1;
    border-radius: 10px;
    border: 1px solid #aaaaaa;
    background-color: white;
}

.enviar-msg {
    padding: 10px 15px;
    border: none;
    background-color: #0d6efd;
    color: white;
    cursor:pointer;
    border-radius: 10px;
    margin: 0px 5px;
    font-size: 1.2rem
}
.inputMensaje:focus{
    outline: none;
    border-radius: 10px;
    border: 2px solid #aaaaaa;
    background-color: #ebebebc6;
}
.MessageContainer{
    display: flex;
    height:100%;
    padding:10px;
    flex-direction: column;
    overflow: auto;
}
.MessageContainer span{
    margin-bottom: auto;
}
.message{
    display: flex;
    padding:10px 15px;
    width:fit-content;
    flex-direction: column;
    border-radius: 25px;
    margin:5px;
    position: relative;
}
.you{
    background-color: #eeeeef;
    color: black;
    text-align:left;
    padding-top: 14px;
    padding-left: 22px;
    padding-right: 22px;
}
.message i{
    color:#0d6efd;
}
.messageDetails{
    font-size: 0.7rem;
    display: flex;
    justify-content: flex-end;
    width:100%;
    text-align: right;
    align-items: center;
    padding:2px 0px;


}
.messageContent{
    font-size: 0.9rem;
}
.messageDetails .messageTime{
    margin-left: auto;
    padding-right:5px;
    font-weight: 300;
    color:white;
}



.you .messageDetails .messageTime{
    color: black;
}
.you i{
    color:#0d6efd;
}

.me i{
    color:black;
}

.me{
    margin-left: 523px;
    background-color: #1b85ff;
    text-align: left;
    color: white;
    padding-top: 14px;
    padding-left: 22px;
    padding-right: 22px;
}
.messageSeperator{
    margin: 10px auto;
    padding:8px 15px;
    width:fit-content;
    color: dimgray;
}