.medicamento{
    max-width: 110px; max-height: 110px;
}

.img-pago{
    filter: grayscale(100%);
    transition: filter 0.4s ease;
}

.img-pago:hover{
    filter: grayscale(0%);
}


/***********--SELECT--************/

.select-p {
    width: 100%;
    margin-top:4px;
    padding: 10px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: transparent;
    font-size: 14px;
    outline: none;
}

.select-p option {
    padding: 8px 12px;
    font-size: 14px;
    background-color: white;
    color: #333;

}

.select-p:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}





/***********--BOTONES - GENERAL --************/
.btn-p {
    display: inline-block;
    padding: 12px 20px;
    color:white;
    background-color: #378fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 17px;
}


.btn-p:hover {
    background-color: white;
    color: #378fff;
    border:2px solid #378fff;
    padding: 10px 18px;
}





.btn-cancel {
    display: inline-block;
    padding: 12px 20px;
    color:white;
    background-color: #dc3545;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 17px;
}


.btn-cancel:hover {
    background-color: white;
    color: #dc3545;
    border:2px solid #dc3545;
    padding: 10px 18px;
}


.btn-back {
    display: inline-block;
    padding: 9px 20px;
    color:white;
    background-color: dimgray;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 17px;
}


.btn-back:hover {
    background-color: white;
    color: dimgray;
    border:2px solid dimgray;
    padding: 7px 18px;
}







/***********-- TABLA --************/
td{
    text-align: center !important;
}

.action{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}






/***********--BOTONES - ESTADO TRACKING --************/


.btn-pend{
    padding: 9px;
    background-color: rgb(234 179 8);
    color: white;
    border: none;
    border-radius: 5px;
    width: 155px;
}

.btn-rcb{
    padding: 8px;
    background-color: rgb(100 116 139);
    color: white;
    border: none;
    border-radius: 5px;
    width: 155px;
}

.btn-pro{
    padding: 8px;
    background-color: rgb(100 116 139);
    color: white;
    border: none;
    border-radius: 5px;
    width: 155px;
}

.btn-empa{
    padding: 8px;
    background-color: rgb(100 116 139);
    color: white;
    border: none;
    border-radius: 5px;
    width: 155px;

}

.btn-ruta{
    padding: 8px;
    background-color: rgb(100 116 139);
    color: white;
    border: none;
    border-radius: 5px;
    width: 155px;
}

.btn-listo{
    padding: 8px;
    background-color: rgb(34, 136, 60);
    color: white;
    border: none;
    border-radius: 5px;
    width: 155px;
}

.btn-pagado{
    padding: 8px;
    background-color: rgb(37 99 235);
    color: white;
    border: none;
    border-radius: 5px;
    width: 155px;
}

.btn-anulado{
    padding: 8px;
    background-color: rgb(31 41 55);
    color: white;
    border: none;
    border-radius: 5px;
    width: 155px;
}




/***********-- FORM NUEVA ORDEN--************/


.container-form{
    max-width: 1540px;
    margin-inline: auto;
    padding: 0 30px 0 30px;
}

.column{
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 10px;
    padding-top: 20px;
    padding-bottom: 22px;
    justify-content: start;
}

.column-start{
    display: flex;
    flex-direction: row;
    row-gap: 28px;
    column-gap: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    justify-content: start;
}

.input-label-box{
    display: flex;
    flex-direction: column;
}

.radio-label-box{
    display: flex;
    flex-direction: column;
    margin-left: 104px ;

}

.input-label-radio{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
.column-buttons{
    display: flex;
    flex-direction: row;
    row-gap: 28px;
    column-gap: 30px;
    padding-top: 20px;
    padding-bottom: 22px;
    justify-content: center;
}




.select-form {
    width: 300px;
    height: 42px;
    margin-top:7px;
    padding: 10px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    color:dimgray;
    background-color: white;
}
.select-form:focus{
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.select-form.error{
    border: 2px solid rgb(231, 44, 44);
}

.select-form.error:focus{
    box-shadow: 0 0 0 0.2rem rgba(236, 27, 8, 0.09);
}






.input-form{
    margin-top:6px;
    padding-left: 15px;
    outline: none;
    width: 300px;
    height: 42px;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    font-size: 17px;
}

.input-form:focus{
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-form.error{
        border: 2px solid rgb(231, 44, 44);
}

.input-form.error:focus{
    box-shadow: 0 0 0 0.2rem rgba(236, 27, 8, 0.09);
}




.error-message{
    color: #E72C2C;
    font-weight: bold;
    font-size:12px;
    padding-bottom: 1px;
}



/*Responsive*/
@media screen and (max-width: 1250px) {
    .container-form .column {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 768px) {
    .select-form{
        width: 210px;
    }
    .input-form {
        width: 100%; /* Cambia el ancho a 100% para ocupar todo el ancho disponible */
    }
}


@media screen and (max-width: 1005px) {
    .column-start{
        justify-content: center;
        margin-left: 1px;
    }
    .radio-label-box{
        margin-left: 1px;
    }
}




/***********-- POP UP NUEVA ORDEN--************/

.btn-popup {
    display: inline-block;
    padding: 10px 20px;
    color:white;
    background-color: #1B9318;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 16px;
}


.btn-popup:hover {
    background-color: white;
    color: #1B9318;
    border:2px solid #1B9318;
    padding: 8px 18px;
}

.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 99999;
    overflow: auto;
}

.popup-container.active{
    opacity: 1;
    pointer-events: auto;
    transition: .4s ease;
}

.popup-container .popup-box{
    width: 1000px;
    background: white;
    border: 6px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    padding: 30px;
    transform: scale(0);
    overflow: auto;
}


.popup-container.active .popup-box{
    transform: scale(1);
    transition: .4s ease;
    transition-delay: .25s;
    z-index: 9999;
    overflow: auto;
}

.popup-box{
    color: #333;
    line-height: 1;
    border-radius: 6px;
    overflow: auto;
}



/***********************/

  .animationButton22 {
      /*animation: box-shadow 1s linear infinite;*/
      padding:6px;
      color:#0d6efd;
      background-color: white;
      border: 2px solid #0d6efd;
      border-radius: 6px;
      width: 145px;
  }

@keyframes box-shadow {
    50% {
        box-shadow: 0 0 15px #0d6efd;
    }
    100% {
    }
}