@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

:root {
  --primary: #eeeeee;
  --secondary: #2192ff;
  --grey: #808080;
  --white: #ffffff;
  --black: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-progress{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
}


.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 700px;
}

.progress-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.progress-container::after {

  content: "";
  position: absolute;
  height: 3px;
  width: 88%;
  top: 31%;
  left: 1rem;
  background-color: var(--grey);
  z-index: 0;
}


.barra {
  margin-left: 10px;
  position: absolute;
  left: 0;
  height: 3px;
  top: 33%;
  transform: translateY(-60%);
  background-color: var(--secondary);
  transition: width 0.2s;
  z-index: 1;
}

.progress-step {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  color: var(--black);
  z-index: 2;
}

.progress-step .fa-solid{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);
  border: 3px solid var(--grey);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 1.3rem;
  background-color: var(--white);
  margin-bottom: 10px;
  transition: border 0.2s, color 0.2s;


}

.progress-step .fa-solid.active{
  border: 3px solid var(--secondary);
  color: var(--secondary);
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}



.btn-container .btn{
  padding: 0.5rem 1.5rem;
  margin: 0 1rem;
  border-radius: 50px;
  font-weight: 500;
  background-color: var(--secondary);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid var(--secondary);
}

.btn.disabled{
  border: 1px solid var(--grey);
  background-color: var(--grey);
  color: var(--white);
  cursor: not-allowed;
}