.container-orden-view{
    display: flex;
}

.container-map{
    width: 50%;
    height: 100%;
    padding: 25px;
    margin: 0 10px;

}
.container-tracking{
    width: 50%;
    height: 100%;
    padding: 25px;
    margin: 0 10px;
}

.container-title-items{
    display: flex;
}
/*Tabla de medicamentos en vista generar orden*/
.container-medicamentos-agotados{
    width: 50%;
    height: 20%;

}