.chart{
    width: 100%; /*No tiene efecto*/
    min-height: 400px;
}

.container-graph{
    text-align: center;
    width: 50%;
    height: 100%;
    padding: 25px;
    margin: 0 10px;
}

canvas {
    max-width: 100%;
    height: auto;
}