<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" type="image/x-icon" th:href="@{/media/favicon.png}">
    <script src="https://kit.fontawesome.com/a2dd6045c4.js" crossorigin="anonymous"></script>
    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->

    <link rel="stylesheet" th:href="@{/css/farmacista/farmacista.css}">
    <link rel="stylesheet" th:href="@{/css/superadmin/superadmin.css}">

    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/css/topbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/scrollbar.css}">
    <link rel="stylesheet" th:href="@{/css/paciente/paciente.css}">
    <link rel="stylesheet" th:href="@{/css/datatables.css}">
    <link rel="stylesheet" th:href="@{/css/boostrap-datatables.css}">

    <!--=============== JAVASCRIPT ===============-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"/>
    <!--  Bootstrap-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css"/>

    <!--=============== CSS ===============-->

    <title>SuperAdmin | Pacientes</title>

    <style>
        body {
            padding-top: 50px;
        }
        .btn-c {
            display: inline-block;
            padding: 12px 20px;
            color:white;
            background-color: #771677;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, border-color 0.3s;
            font-size: 17px;
        }
        .btn-n {
            display: inline-block;
            padding: 12px 20px;
            color:white;
            background-color: #1a72e7;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, border-color 0.3s;
            font-size: 17px;
        }
        @import url('https://fonts.googleapis.com/css2?family=Aptos:wght@700&display=swap');
    </style>
</head>


<body>
<!--=============== HEADER ===============-->
<header class="header-topbar">
    <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Inicio')}"></nav>
</header>

<br><br>
<main style="margin-left: 20px; margin-right: 20px">
    <br><br>

    <div class="container">
        <div style="margin-bottom: 20px"></div>
        <div style="margin-bottom: 30px"></div>
        <div class="titulo"><b>PACIENTES</b></div>
        <div style="margin-bottom: 20px"></div>
        <br>
    </div>
    <br>
    <div class="container">
        <table id="miTabla2" class="display" style="padding-top: 10px">
            <thead>
            <tr style="background-color: #378fff">
                <th style="text-align: center"></th>
                <th style="text-align: center; color: #ffffff; font-weight: normal !important;">Nombre y Apellido</th>
                <th style="text-align: center; color: #ffffff; font-weight: normal !important;">Correo electrónico</th>
                <th style="text-align: center; color: #ffffff; font-weight: normal !important;">DNI</th>
                <th style="text-align: center; color: #ffffff; font-weight: normal !important;">Distrito</th>
                <th style="text-align: center; color: #ffffff; font-weight: normal !important;">Teléfono</th>
                <th style="text-align: center; color: #ffffff; font-weight: normal !important;">Seguro</th>
                <th style="text-align: center; color: #ffffff; font-weight: normal !important;">Estado</th>
                <th style="text-align: center; color: #ffffff; font-weight: normal !important;">Loguearse</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="paciente, info : ${pacientelist}">
                <td style="text-align: center">
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <label>
                            <img th:src="@{/img/paciente.png}" alt="" style="width: 45px; height: 45px;">
                        </label>
                    </div>
                </td>
                <td style="text-align: center" th:text="${paciente.nombres + ' ' +  paciente.apellidos}"></td>
                <td style="text-align: center" th:text="${paciente.correo}"></td>
                <td style="text-align: center" th:text="${paciente.dni}"></td>
                <td style="text-align: center" th:text="${paciente.distrito}"></td>
                <td style="text-align: center" th:text="${paciente.celular}"></td>
                <td style="text-align: center" th:text="${paciente.seguro}"></td>
                <td style="text-align: center">
                    <div th:if="${paciente.estadoUsuario== 1}" class="disponible" style="margin-left: 35px"></div>
                    <div th:if="${paciente.estadoUsuario== 2}" class="no_disponible" style="margin-left: 35px"></div>
                </td>
                <td style="text-align: center">
                    <a th:href="@{'/impersonate?username=' + ${paciente.correo}}">
                        <img width="24" height="24" th:src="@{/img/usuario.png}" alt="visible--v1"/>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <br><br><br><br>
</main>


<div th:replace="~{fragments/navbar.html :: footer}">
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>


<script>
    $(document).ready(function() {
        var table = $('#miTabla, #miTabla2, #miTabla3, #miTabla4').DataTable({
            "pageLength":5,
            "lengthChange": false,
            "language": {
                "emptyTable": "No hay registros disponibles",
                "zeroRecords": "No se encontraron registros coincidentes",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "search" : "Buscar:",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "info": "Mostrando de _START_ a _END_ de _TOTAL_ entradas",
            },

        });

        $('#filtroEstado').on('change', function() {
            var estado = $(this).val();
            table.column(2).search(estado).draw();

        });

        $('#limpiarFiltros').on('click', function() {
            $('#filtroEstado').val('');
            table.search('').columns().search('').draw();
        });
    });
</script>
<script>
    $(document).ready(function() {
        var opened = false;

        $('#menu-small').hide();

        $('#nav-toggle').click(function (e) {
            e.stopPropagation();
            if (opened) {
                $('#menu-small').hide();
            } else {
                $('#menu-small').show();
            }
            opened = !opened;
        });
    });
</script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
</body>
</html>



