<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <link rel="icon" type="image/x-icon" th:href="@{/favicon.png}">

  <!--=============== REMIXICONS ===============-->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

  <!--=============== CSS ===============-->
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <link th:href="@{/css/fonts.css}" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/farmacista/farmacista.css}">
  <link rel="stylesheet" th:href="@{/css/farmacista/detalle_ordenes.css}">
  <link th:href="@{/css/footer.css}" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/paciente/progress-bar.css}">

  <!--Mapa vista Paciente-->
  <script scr="/js/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAce4klBZuD60aEQidMVIbsoaiitxxQFpo"></script>

  <!--=============== JQUERY ===============-->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

  <!--=============== SWEETALERT ===============-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.min.css" rel="stylesheet">

  <!--=============== FONT AWESOME ===============-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <script src="https://kit.fontawesome.com/a2dd6045c4.js" crossorigin="anonymous"></script>


  <title>Bienestar San Miguel | SuperAdmin</title>

</head>


<body style="background-color: white;">
<!--=============== HEADER ===============-->
<header class="header-topbar">
  <nav class="nav-topbar container">


    <div class="nav-data">
      <div>
        <a href="/superadmin"><img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo"></a>
      </div>

      <!--=============== NAV MENU ===============-->

      <div class="nav-menu" id="nav-menu">
        <ul class="nav-list">
          <li><a href="/superadmin" class="menu-item roboto-regular">Inicio</a></li>

          <li><a href="/superadmin/pedidos" class="menu-item roboto-regular" style="text-decoration: underline; color: white;">Pedidos de reposición</a></li>

          <li><a href="/superadmin/medicamentos" class="menu-item roboto-regular">Inventario</a></li>

          <li class="dropdown-item">
            <div class="menu-item roboto-regular">
              Usuarios <i class="ri-arrow-down-s-line dropdown-arrow"></i>
            </div>

            <ul class="dropdown-menu">
              <div class="inside-dropdown">
                <li>
                  <a href="/superadmin/administradoresSede" class="dropdown-link">
                    <i class="ri-user-line menu-item roboto-regular" ></i> Admnistradores de Sede
                  </a>
                </li>

                <li>
                  <a  href="/superadmin/farmacistas"  class="dropdown-link">
                    <i class="ri-user-line  menu-item roboto-regular"></i> Farmacistas
                  </a>
                </li>
                <li>
                  <a href="/superadmin/pacientes" class="dropdown-link">
                    <i class="ri-user-line  menu-item roboto-regular"></i> Pacientes
                  </a>
                </li>
                <li>
                  <a href="/superadmin/doctores" class="dropdown-link">
                    <i class="ri-user-line  menu-item roboto-regular"></i> Doctores
                  </a>
                </li>
              </div>
            </ul>
          </li>

          <!--=============== DROPDOWN 2 ===============-->
          <li class="dropdown-item">
            <div class="menu-item roboto-regular">
              <i class="fas fa-user fa-fw"></i>
              <i class="ri-arrow-down-s-line dropdown-arrow"></i>
            </div>

            <ul class="dropdown-menu">
              <div class="inside-dropdown">
                <li>
                  <a href="/superadmin/cambiarContrasena" class="dropdown-link">
                    <i class="ri-user-line menu-item roboto-regular"></i> Cambiar contraseña
                  </a>
                </li>

                <li>
                  <a href="/" class="dropdown-link">
                    <i class="ri-lock-line menu-item roboto-regular"></i> Cerrar sesión
                  </a>
                </li>
              </div>
            </ul>
          </li>

        </ul>
      </div>

      <div class="nav-toggle" id="nav-toggle">
        <i class="ri-menu-line nav-burger" id="menu-icon"></i>
        <i class="ri-close-line nav-close"></i>

        <div class="menu-small" id="menu-small">
          <div class="inside-menu-small">
            <div class="nav-menu-small" id="nav-menu-small">
              <ul class="nav-list-small">
                <li><a href="/superadmin" class="menu-item-small roboto-regular">Inicio</a></li>
                <li><a href="/superadmin/pedidos" class="menu-item-small roboto-regular">Pedidos de reposición</a></li>

                <li><a href="/superadmin/medicamentos" class="menu-item-small roboto-regular">Inventario</a></li>
              </ul>

              <ul class="nav-list-small-perfil">
                <li><a href="/superadmin/administradoresSede" class="menu-item-small roboto-regular"><i class="ri-user-line roboto-regular"></i>Administradores de sede</a></li>
                <li><a  href="/superadmin/farmacistas" class="menu-item-small roboto-regular"><i class="ri-user-line roboto-regular"></i>Farmacistas</a></li>
                <li><a href="/superadmin/pacientes" class="menu-item-small roboto-regular"><i class="ri-user-line roboto-regular"></i>Pacientes</a></li>
                <li><a href="/superadmin/doctores" class="menu-item-small roboto-regular"><i class="ri-user-line roboto-regular"></i>Doctores</a></li>
              </ul>

              <ul class="nav-list-small-perfil">
                <li><a href="/superadmin/cambiarContrasena" class="menu-item-small roboto-regular"><i class="ri-user-line roboto-regular"></i>Cambiar contraseña</a></li>

                <li><a href="/" class="menu-item-small roboto-regular"><i class="ri-lock-line roboto-regular"></i>Cerrar sesión</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </div>

  </nav>
</header>


<div class="container" style="margin-top:90px">
<br>
  <div style="display: flex; justify-content: space-between; align-items: center; padding-top: 20px; padding-bottom: 20px;">
    <div class="main-title" style="font-weight: bold; font-family: 'Open Sans', sans-serif;">Detalles de Orden de Reposición</div>
    <div>
      <a class="btn-p" href="/superadmin/pedidos" style="background-color: #378efd; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 4px;">Regresar a la lista</a>
    </div>
  </div>

  <hr class="style-one">

  <div class="detalle-orden-container">

    <div class="invoice-title">

      <div class="title roboto-medium data-label">Bienestar San Miguel | <span th:text="${reposicion.idSede.nombre}">Sede</span></div>

      <div class="title-info">
        <div class="roboto-bold title data-label">Orden #<span th:text="${'TRK'+ (reposicion.idReposicion + 1000)}"></span> </div>
        <div th:if="${reposicion.estado.idEstado== 1}" class="btn-dark">Recibido</div>
        <div th:if="${reposicion.estado.idEstado== 2}" class="btn-yellow">En Proceso</div>
        <div th:if="${reposicion.estado.idEstado== 3}" class="btn-red">Empaquetado</div>
        <div th:if="${reposicion.estado.idEstado== 4}" class="btn-yellow">En Ruta</div>
        <div th:if="${reposicion.estado.idEstado== 5}" class="btn-green">Entregado</div>
      </div>
    </div>

    <div class="invoice-contact">

      <div style="display: flex; flex-direction: row; gap: 3px;"><span class="data-label roboto-medium">Dirección:</span><div th:text="${reposicion.idSede.direccion}"></div></div>
      <div><span class="data-label roboto-medium">Correo:</span> clinica.bienestar@sanmiguel.pe</div>
      <div><span class="data-label roboto-medium">Número:</span> +51 998524112</div>
    </div>

    <hr class="my-4" style="margin-bottom: 20px; margin-top: 20px;">

    <div class="client-info">
      <div class="data-label roboto-medium">Datos del Administrador:</div>
      <div class="invoice-data">
        <div style="display: flex; flex-direction: row; gap: 3px;"><span class="data-label roboto-medium">Nombre: </span><div th:text="${reposicion.idSede.admin.nombres + ' ' + reposicion.idSede.admin.apellidos}"></div></div>
        <div style="display: flex; flex-direction: row; gap: 3px;"><span class="data-label roboto-medium">DNI:</span><div th:text="${reposicion.idSede.admin.dni}"> </div></div>
        <div style="display: flex; flex-direction: row; gap: 3px;"><span class="data-label roboto-medium">Celular:</span><div th:text="${reposicion.idSede.admin.celular}"></div></div>
      </div>
    </div>

    <hr class="my-4" style="margin-bottom: 20px; margin-top: 20px;">

    <div class="invoice-info">
      <div class="data-label roboto-medium">Datos de la Orden:</div>

      <div class="invoice-data">
        <div style="display: flex; flex-direction: row; gap: 3px;"><span class="data-label roboto-medium">Número de Orden: </span><div th:text="${(reposicion.idReposicion + 1000)}"></div></div>
        <div style="display: flex; flex-direction: row; gap: 3px;"><span class="data-label roboto-medium">Fecha:</span><div th:text="${reposicion.fechaIni}"> </div></div>
        <div style="display: flex; flex-direction: row; gap: 3px;"><span class="data-label roboto-medium">Sede:</span><div th:text="${reposicion.idSede.nombre}"> </div></div>
        <div style="display: flex; flex-direction: row; gap: 3px;"><span class="data-label roboto-medium">Proveedor:</span><div>CORVAL PHARMACEUTICAL S.A.C.</div></div>
      </div>
    </div>

    <hr class="my-4" style="margin-bottom: 50px; margin-top: 20px;">

    <div class="title roboto-medium data-label" style="padding-bottom: 20px">Lista de Medicamentos Comprados</div>

    <div>
      <table class="order-table">
        <thead style="padding-bottom: 10px">
        <tr>
          <th class="text-start" style="max-width: 90px;">No.</th>
          <th class="text-start" style="max-width: 200px;">Artículo</th>
          <th class="text-center">Precio</th>
          <th class="text-center">Cantidad</th>
          <th class="text-end" style="width: 120px;">Total</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="contenido, iterIndex : ${contenidoReposicion}">
          <th class="text-start" style="width: 90px;"><span th:text="${iterIndex.index + 1}"></span></th>
          <td>
            <div class="name-unit-item">
              <div class="text-truncate font-size-14 mb-1" th:text="${contenido.getIdMedicamento().getNombre()}"></div>
              <div class="text-muted mb-0" th:text="${contenido.getIdMedicamento().getUnidad()}"></div>
            </div>
          </td>
          <td class="text-center" th:text="${'S/. ' + contenido.getIdMedicamento().getPrecioVenta()}"></td>
          <td class="text-center" th:text="${contenido.getCantidad()}"></td>
          <td class="text-end" th:text="${'S/. ' + contenido.getCantidad() * contenido.getIdMedicamento().getPrecioVenta()}"></td>
        </tr>
        </tbody>

      </table>
    </div>

    <div class="full-total">
      <div class="roboto-regular data-label" style="padding-top: 20px">Total</div>
      <div class="title roboto-medium data-label" th:text="${'S/. ' + reposicion.precioTotal}"></div>
    </div>

  </div>

</div>

<br><br>

<div >
  <footer id="sticky-footer" class="footer-distributed">
    <div class="footer-left">
      <img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo" style="width: 400px; height: auto;">
      <p class="footer-links">
        <a href="">Usuarios</a> |
        <a href="">Actividades</a> |
        <a href="">Estadisticas</a> |
        <a href="">Donaciones</a> |
        <a href="">Perfil</a>
      </p>
      <p class="footer-company-name">Copyright © 2023 <strong>Pontificia Universidad Catolica del Perú</strong> Todos los derechos reservados</p>
    </div>

    <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Av. Universitaria 1801, San Miguel, 15088</span> Lima, Perú</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+51 982 876 098</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:sagar00001.co@gmail.com">Lorem ipsum dolor sit amet.</a></p>
      </div>
    </div>

    <div class="footer-right">
      <p class="footer-company-about">
        <span>Lorem, ipsum dolor.</span>
        La carrera de <strong>Ingeniería de las telecomunicaciones</strong> de la <strong>Pontificia Universidad Catolica del Perú</strong> diseñó una pagina WEB.
      </p>
      <div class="footer-icons">
        <a href="https://www.facebook.com/profile.php?id=100009473024310&mibextid=LQQJ4d"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/leo.leonar071/?igshid=OGQ5ZDc2ODk2ZA%3D%3Ds"><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/@pucp"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="/js/progress-bar.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">

  <script>
    $(document).ready(function() {
    var table = $('#miTabla, #miTabla2, #miTabla3, #miTabla4').DataTable({
    "pageLength":5,
    "lengthChange": false,
    "language": {
    "emptyTable": "No hay registros disponibles",
    "zeroRecords": "No se encontraron registros coincidentes",
    "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
    "search" : "Buscar:",
    "paginate": {
    "first": "Primero",
    "last": "Último",
    "next": "Siguiente",
    "previous": "Anterior"
  },
    "info": "Mostrando de _START_ a _END_ de _TOTAL_ entradas",
  },

  });

    $('#filtroEstado').on('change', function() {
    var estado = $(this).val();
    table.column(2).search(estado).draw();

  });

    $('#limpiarFiltros').on('click', function() {
    $('#filtroEstado').val('');
    table.search('').columns().search('').draw();
  });
  });
</script>

<script>
  $(document).ready(function () {
    var opened = false;

    $('#menu-small').hide();

    $('#nav-toggle').click(function (e) {
      e.stopPropagation();
      if (opened) {
        $('#menu-small').hide();
      } else {
        $('#menu-small').show();
      }
      opened = !opened;
    });
  });
</script>
<script>
  google.maps.event.addDomListener(window, 'load', initMap);
</script>
<script>
  $(document).ready(function () {
    var table = $('#miTabla').DataTable({
      "pageLength": 5,
      "lengthChange": false,
      "language": {
        "emptyTable": "No hay registros disponibles",
        "zeroRecords": "No se encontraron registros coincidentes",
        "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
        "paginate": {
          "first": "Primero",
          "last": "Último",
          "next": "Siguiente",
          "previous": "Anterior"
        },
        "info": "Mostrando de _START_ a _END_ de _TOTAL_ entradas",
      },

    });

    $('#filtroEstado').on('change', function () {
      var estado = $(this).val();
      table.column(2).search(estado).draw();

    });

    $('#limpiarFiltros').on('click', function () {
      $('#filtroEstado').val('');
      table.search('').columns().search('').draw();
    });
  });


</script>

</body>


</html>