<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" type="image/x-icon" th:href="@{/media/favicon.png}">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/fonts.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/farmacista/farmacista.css}">
    <link rel="stylesheet" th:href="@{/css/farmacista/detalle_ordenes.css}">
    <link rel="stylesheet" th:href="@{/css/boostrap-datatables.css}">
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <link th:href="@{/css/preloader.css}" rel="stylesheet" />

    <!--=============== JAVASCRIPT ===============-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- DataTable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.3/css/buttons.bootstrap5.min.css"/>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.3/css/buttons.bootstrap5.min.css"/>

    <!--=============== FONT AWESOME ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <title>Bienestar San Miguel | Ordenes de Venta</title>

</head>



<body class="loader-hidden">

<div class="container-loader loader-hidden" id="onload">
    <div class="loader"></div>
</div>

<header class="header-topbar">
    <nav class="nav-topbar container">


        <div class="nav-data">
            <div>
                <a href="/"><img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo"></a>
            </div>

            <!--=============== NAV MENU ===============-->

            <div class="nav-menu" id="nav-menu">
                <ul class="nav-list">
                    <li><a href="/farmacista" class="menu-item roboto-regular">Inicio</a></li>

                    <li><a href="/farmacista/ordenes_venta" class="menu-item roboto-regular" style="text-decoration: underline; color: white;">Ordenes de Venta</a></li>

                    <li><a href="/farmacista/ordenes_web" class="menu-item roboto-regular">Ordenes Web</a></li>

                    <li><a href="/farmacista/pre_ordenes" class="menu-item roboto-regular">Pre Ordenes</a></li>

                    <!--=============== DROPDOWN ===============-->
                    <li class="dropdown-item">
                        <div class="menu-item roboto-regular">
                            Perfil <i class="ri-arrow-down-s-line dropdown-arrow"></i>
                        </div>

                        <ul class="dropdown-menu">
                            <div class="inside-dropdown">
                                <li>
                                    <a href="/farmacista/cambioContraseña" class="dropdown-link">
                                        <i class="ri-user-line menu-item dropdown-item roboto-regular"></i> Cambiar contraseña
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="dropdown-link">
                                        <i class="ri-lock-line menu-item dropdown-item roboto-regular"></i> Cerrar sesión
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </li>

                </ul>
            </div>

            <div class="nav-toggle" id="nav-toggle">
                <i class="ri-menu-line nav-burger" id="menu-icon"></i>
                <i class="ri-close-line nav-close"></i>

                <div class="menu-small" id="menu-small">
                    <div class="inside-menu-small">
                        <div class="nav-menu-small" id="nav-menu-small">
                            <ul class="nav-list-small">
                                <li><a href="/farmacista" class="menu-item-small roboto-regular">Inicio</a></li>

                                <li><a href="/farmacista/ordenes_venta" class="menu-item roboto-regular" style="text-decoration: underline; color: white;">Ordenes de Venta</a></li>

                                <li><a href="/farmacista/ordenes_web" class="menu-item-small roboto-regular">Ordenes Web</a></li>

                                <li><a href="/farmacista/pre_ordenes" class="menu-item-small roboto-regular">Pre Ordenes</a></li>
                            </ul>

                            <ul class="nav-list-small-perfil">
                                <li><a href="/farmacista/cambioContraseña" class="menu-item-small roboto-regular"><i class="ri-user-line roboto-regular"></i>Cambiar contraseña</a></li>

                                <li><a href="/farmacista/pre_ordenes" class="menu-item-small roboto-regular"><i class="ri-lock-line roboto-regular"></i>Cerrar sesión</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </nav>
</header>



<div class="container">

    <div class="container" style="margin-top: 90px">

        <div style="padding-top: 20px; padding-bottom: 20px">
            <div class="main-title open-sans-bold"> Ordenes de Venta </div>
            <div class="main-subtitle helvetica-medium">  Interfaz de Administración de Ventas </div>
        </div>

        <hr class="style-one">

        <div style="margin-bottom: 40px"></div>

        <div>


            <div style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 30px;">
                <div style="display: flex; flex-direction: column">
                    <label style="font-weight: 550; margin-left: 2px">Filtrar por Estado:</label>
                    <select id="filtroEstado" class="select-p" >
                        <option value="">Mostrar Todos</option>
                        <option value="PAGADO">Pagado</option>
                        <option value="ANULADO">Anulado</option>
                    </select>
                </div>

                <button id="limpiarFiltros" class="btn-p">Limpiar Filtros</button>
            </div>



            <table id="preOrders" class="display" style="padding-top: 10px;">
                <thead>
                <tr style="background-color: #378fff">
                    <th style="text-align: center; color: #ffffff; font-weight: normal !important;">Número de Orden</th>
                    <th style="text-align: center; color: #ffffff; font-weight: normal !important;">Fecha de Registro</th>
                    <th style="text-align: center; color: #ffffff; font-weight: normal !important;">Paciente</th>
                    <th style="text-align: center; color: #ffffff; font-weight: normal !important;">Estado</th>
                    <th style="text-align: center; color: #ffffff; font-weight: normal !important;">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orden : ${listaOrdenesVenta}">
                    <td style="text-align: center" th:text="${orden.getIdOrden() + 10000}"></td>
                    <td style="text-align: center" th:text="${orden.getFechaIni()}"></td>
                    <td style="text-align: center" th:text="${orden.getPaciente().getNombres()} + ' ' + ${orden.getPaciente().getApellidos()}" ></td>
                    <td style="text-align: center">
                        <div th:if="${orden.getEstadoOrden() == 1}" th:text="Pendiente" class="btn-secondary"></div>
                        <div th:if="${orden.getEstadoOrden() == 2}" th:text="Pendiente" class="btn-secondary"></div>

                        <div th:if="${orden.getEstadoOrden() == 3}" th:text="Recibido" class="btn-green"></div>
                        <div th:if="${orden.getEstadoOrden() == 4}" th:text="En proceso" class="btn-yellow"></div>
                        <div th:if="${orden.getEstadoOrden() == 5}" th:text="Empaquetando" class="btn-red"></div>
                        <div th:if="${orden.getEstadoOrden() == 6}" th:text="En Ruta" class="btn-yellow"></div>
                        <div th:if="${orden.getEstadoOrden() == 7}" th:text="Entregado" class="table-badge badge-pagado"></div>


                        <div th:if="${orden.getEstadoOrden() == 8}" th:text="Pagado" class="table-badge badge-pagado"></div>
                        <div th:if="${orden.getEstadoOrden() == 9}" th:text="Anulado" class="btn-secondary"></div>
                    </td>
                    <td style="text-align: center; display: flex; flex-direction: row; justify-content: center; gap: 5px;">

                        <form th:action="@{'/farmacista/ver_orden_venta_tabla'}" method="post">
                            <input type="hidden" name="idOrden" th:value="${orden.getIdOrden()}">
                            <button type="submit" class="btn btn-sm btn-info" >
                                <i class="fa-regular fa-eye"></i>
                            </button>
                        </form>

                    </td>
                </tr>
                </tbody>
            </table>

        </div>


    </div>
</div>

<div>
    <footer id="sticky-footer" class="footer-distributed">
        <div class="footer-left">
            <img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo" style="width: 400px; height: auto;">
            <p class="footer-links">
                <a href="/farmacista">Inicio</a> |
                <a href="/farmacista/ordenes_venta">Ordenes de Venta</a> |
                <a href="/farmacista/ordenes_web">Ordenes Web</a> |
                <a href="/farmacista/pre_ordenes">Pre Ordenes</a> |
                <a href="/farmacista/perfil">Perfil</a>
            </p>
            <p class="footer-company-name">Copyright © 2024 <strong>Pontificia Universidad Catolica del Perú</strong> Todos los derechos reservados</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Av. Universitaria 1801, San Miguel, 15088</span> Lima, Perú</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+51 982 876 098</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:sagar00001.co@gmail.com">Lorem ipsum dolor sit amet.</a></p>
            </div>
        </div>

        <div class="footer-right">
            <p class="footer-company-about">
                <span>Lorem, ipsum dolor.</span>
                La carrera de <strong>Ingeniería de las telecomunicaciones</strong> de la <strong>Pontificia Universidad Catolica del Perú</strong> diseñó una pagina WEB.
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/profile.php?id=100009473024310&mibextid=LQQJ4d"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/leo.leonar071/?igshid=OGQ5ZDc2ODk2ZA%3D%3Ds"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com/@pucp"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>
</div>


<!-- JQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- DataTable -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.bootstrap5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.print.min.js"></script>
<!-- Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>

    $(document).ready(function() {
        var table = $('#preOrders, #ordersWeb, #Orders').DataTable({
            dom: 'Bfrtilp',
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: '<i class="fas fa-file-excel"></i> ',
                    titleAttr: 'Exportar a Excel',
                    className: 'btn btn-success',
                },
                {
                    extend: 'pdfHtml5',
                    text: '<i class="fas fa-file-pdf"></i> ',
                    titleAttr: 'Exportar a PDF',
                    className: 'btn btn-danger',
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> ',
                    titleAttr: 'Imprimir',
                    className: 'btn btn-info',
                },
            ],
            columnDefs: [
                { className: 'centered', targets: [0, 1, 2, 3, 4] },
                { orderable: false, targets: [4] },
            ],
            "pageLength":5,
            "lengthChange": false,
            "language": {
                "emptyTable": "No hay registros disponibles",
                "zeroRecords": "No se encontraron registros coincidentes",
                "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                search: 'Buscar:',
                "info": "Mostrando de _START_ a _END_ de _TOTAL_ entradas",
            },

        });

        $('#filtroEstado').on('change', function() {
            var estado = $(this).val();
            table.column(3).search(estado).draw();

        });

        $('#limpiarFiltros').on('click', function() {
            $('#filtroEstado').val('');
            table.search('').columns().search('').draw();
        });
    });


</script>


<script>
    $(document).ready(function() {
        var opened = false;

        $('#menu-small').hide();

        $('#nav-toggle').click(function (e) {
            e.stopPropagation();
            if (opened) {
                $('#menu-small').hide();
            } else {
                $('#menu-small').show();
            }
            opened = !opened;
        });
    });
</script>

<script>
    window.onload = function () {
        $('#onload').fadeOut();
        $('body').removeClass('loader-hidden');
    }

</script>


</body>

</html>