body{
    max-height: 100vh;
}

header {
    background-color: var(--color-blue);
    position: fixed;
    z-index: 100;
    min-width: 100vw;
}

.login-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px 10px 40px;
}

.logo {
    max-width: 210px;
    height: auto;
    padding: 10px 0 10px 0;
}

.top-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.menu-item {
    text-decoration: none;
    color: rgb(244 244 245);
    transition: color 0.2s ease;
}

.menu-item:hover {
    color: rgb(10, 45, 136);
}

.main-container {
    height: 100%;
    display: grid;
}

.login-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
}
.login-container2{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
}
.wrapper2{

    justify-content: space-between;
    margin-bottom: 100px;
    max-width: 1000px;
    width: 750px;
    margin-top: 2rem;
    padding: 2rem 2.5rem 1rem 2.5rem;
    outline: none;
    border-radius: 0.25rem;
    border: 1px solid #d9d9d9;
    color: var(--color-black);
    background: var(--color-white);
    box-shadow: var(--shadow-large);
}

.wrapper {
    max-width: 25rem;
    width: 100%;
    margin-top: 2rem;
    padding: 2rem 2.5rem 1rem 2.5rem;
    outline: none;
    border-radius: 0.25rem;
    border: 1px solid #d9d9d9;
    color: var(--color-black);
    background: var(--color-white);
    box-shadow: var(--shadow-large);
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-column {
    display: flex;
    flex-direction: column;
}
.login-form {
    width: 100%;
    height: auto;
    padding-top: 0.5rem;

    .input-control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

    }
    .input-control2 {
        flex-direction: column;
        justify-content: start;
        display: flex;
        align-items: center;
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .input-field {
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        line-height: inherit;
        width: 100%;
        height: auto;
        padding: 0.75rem 1.25rem;
        border: none;
        outline: none;
        border-radius: 2rem;
        color: var(--color-black);
        background: var(--color-light);
        text-transform: unset;
        text-rendering: optimizeLegibility;
    }
    .input-field2 {
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        line-height: inherit;
        width: 200px;
        text-align: left;
        height: auto;
        padding: 0.75rem 1.25rem;
        border: none;
        outline: none;
        border-radius: 2rem;
        color: var(--color-black);
        background: var(--color-light);
        text-transform: unset;
        text-rendering: optimizeLegibility;
    }

    .input-submit {
        display: block;
        margin: 0 auto;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 500;
        line-height: inherit;
        cursor: pointer;
        min-width: 50%;
        height: auto;
        padding: 0.65rem 1.25rem;
        border: none;
        outline: none;
        border-radius: 2rem;
        color: var(--color-white);
        background: var(--color-blue);
        box-shadow: var(--shadow-medium);
        text-transform: capitalize;
        text-rendering: optimizeLegibility;
    }

    .input-submit:hover {
        background: var(--color-blue--hover);
        transition: background-color 0.2s ease;
    }
}

.login-title {
    font-size: 2rem;
    color: rgb(4, 16, 61);
    padding-bottom: 0.5rem;
}

.footer {
    background-color: var(--color-gray-2);
    position: relative;
    min-height: 10vh;
}

.footer-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-gray);
}