    body{
        max-height: 100vh;
    }

    header {
        background-color: var(--color-blue);
        position: fixed;
        z-index: 100;
        min-width: 100vw;
    }

    .login-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 40px 10px 40px;
    }

    .logo {
        max-width: 210px;
        height: auto;
        padding: 10px 0 10px 0;
    }

    .top-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        justify-content: space-between;
    }

    .menu-item {
        text-decoration: none;
        color: rgb(244 244 245);
        transition: color 0.2s ease;
    }

    .menu-item:hover {
        color: rgb(10, 45, 136);
    }

    .main-container {
        height: 100%;
        display: grid;
    }

    .login-container{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
        width: 100%;
    }
    .login-container2{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
        width: 100%;
    }

    .login-container3{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
        width: 100%;
    }
    .wrapper2{

        justify-content: space-between;
        margin-bottom: 100px;
        max-width: 1000px;
        width: 800px;
        margin-top: 2rem;
        padding: 2rem 2.5rem 1rem 2.5rem;
        outline: none;
        border-radius: 0.25rem;
        border: 1px solid #d9d9d9;
        color: var(--color-black);
        background: var(--color-white);
        box-shadow: var(--shadow-large);
    }
    .wrapper4 {
        max-width: 25rem;
        width: 100%;
        margin-top: 2rem;
        padding: 2rem 2.5rem 1rem 2.5rem;
        outline: none;
        border-radius: 0.25rem;
        border: 1px solid #d9d9d9;
        color: var(--color-black);
        background: var(--color-white);
        box-shadow: var(--shadow-large);
    }

    .wrapper {
        max-width: 25rem;
        width: 100%;
        margin-top: 2rem;
        padding: 2rem 2.5rem 1rem 2.5rem;
        outline: none;
        border-radius: 0.25rem;
        border: 1px solid #d9d9d9;
        color: var(--color-black);
        background: var(--color-white);
        box-shadow: var(--shadow-large);
    }

    .wrapper3 {
        width: 600px;
        margin-top: 2rem;
        padding: 2rem 2.5rem 1rem 2.5rem;
        outline: none;
        border-radius: 0.25rem;
        border: 1px solid #d9d9d9;
        color: var(--color-black);
        background: var(--color-white);
        box-shadow: var(--shadow-large);
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user-details {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .input-column {
        display: flex;
        flex-direction: column;
    }
    .login-form {
        width: 100%;
        height: auto;
        padding-top: 0.5rem;

        .input-control {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

        }
        .input-control4 {
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .input-control3 {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            width: calc(90%);
            margin-bottom: 20px;

        }
        .input-control2 {
            flex-direction: column;
            display: flex;
            align-items: start;
            width: calc(50% - 20px);
            margin-bottom: 20px;
            margin-left: 10px;
        }


        .input-field {
            font-family: inherit;
            font-size: 1rem;
            font-weight: 400;
            line-height: inherit;
            width: 100%;
            height: auto;
            padding: 0.75rem 1.25rem;
            border: none;
            outline: none;
            border-radius: 2rem;
            color: var(--color-black);
            background: var(--color-light);
            text-transform: unset;
            text-rendering: optimizeLegibility;
        }
        .input-field2 {
            margin-top: 5px;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 400;
            line-height: inherit;
            width: 330px;
            text-align: left;
            height: auto;
            padding: 0.75rem 1.25rem;
            border: none;
            outline: none;
            border-radius: 2rem;
            color: var(--color-black);
            background: var(--color-light);
            text-transform: unset;
            text-rendering: optimizeLegibility;
        }
        .input-field3 {
            margin-top: 5px;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 400;
            line-height: inherit;
            width: 370px;
            text-align: left;
            height: auto;
            padding: 0.75rem 1.25rem;
            border: none;
            outline: none;
            border-radius: 2rem;
            color: var(--color-black);
            background: var(--color-light);
            text-transform: unset;
            text-rendering: optimizeLegibility;
        }

        .input-submit {
            display: block;
            margin: 0 auto;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 500;
            line-height: inherit;
            cursor: pointer;
            min-width: 50%;
            height: auto;
            padding: 0.65rem 1.25rem;
            border: none;
            outline: none;
            border-radius: 2rem;
            color: var(--color-white);
            background: var(--color-blue);
            box-shadow: var(--shadow-medium);
            text-transform: capitalize;
            text-rendering: optimizeLegibility;
        }

        .input-submit:hover {
            background: var(--color-blue--hover);
            transition: background-color 0.2s ease;
        }
        .form123-control.success i.fa-check-circle {
            color: #2ecc71;
            visibility: visible;
        }

        .input-submit2 {
            display: block;
            margin: 0 auto;
            font-family: inherit;
            text-align: center;
            font-size: 1rem;
            font-weight: 500;
            line-height: inherit;
            cursor: pointer;
            width: 20%;
            max-width: 50%;
            height: auto;
            padding: 0.65rem 1.25rem;
            border: none;
            outline: none;
            border-radius: 2rem;
            color: var(--color-white);
            background: var(--color-blue);
            box-shadow: var(--shadow-medium);
            text-transform: capitalize;
            text-rendering: optimizeLegibility;
        }
        .form123-control.error i.fa-exclamation-circle {
            color: #E72C2C;
            visibility: visible;
        }
    }

    .login-title {
        font-size: 2rem;
        color: rgb(4, 16, 61);
        padding-bottom: 0.5rem;
    }

    .footer {
        background-color: var(--color-gray-2);
        position: relative;
        min-height: 10vh;
    }

    .footer-container {
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: var(--color-gray);
    }

    .alert-danger-custom {
        color: #721c24;  /* Color del texto */
        background-color: #f8d7da;  /* Color de fondo */
        border-color: #f5c6cb;  /* Color del borde */
        border-radius: 0.25rem;  /* Radio del borde */
        padding: 1rem;  /* Espaciado interno */
        /*max-height: 30px; */
    }

    /* Estilo para el enlace dentro del alert */
    .alert-danger-custom a {
        color: #721c24;  /* Color del enlace */
        font-weight: bold;  /* Peso de la fuente */
    }

    /* Estilo para el borde superior del alert */
    .alert-danger-custom .alert-heading {
        border-bottom: 1px solid #f1c2c7;  /* Color del borde superior */
        padding-bottom: 0.5rem;  /* Espaciado inferior */
        margin-bottom: 0.5rem;  /* Margen inferior */
    }
    /* Estilo para el alert de éxito */
    .alert-success-custom {
        color: #155724;  /* Color del texto */
        background-color: #d4edda;  /* Color de fondo */
        border-color: #c3e6cb;  /* Color del borde */
        border-radius: 0.25rem;  /* Radio del borde */
        padding: 1rem;  /* Espaciado interno */
    }

    /* Estilo para el enlace dentro del alert */
    .alert-success-custom a {
        color: #0c652f;  /* Color del enlace */
        font-weight: bold;  /* Peso de la fuente */
    }

    /* Estilo para el borde superior del alert */
    .alert-success-custom .alert-heading {
        border-bottom: 1px solid #badbcc;  /* Color del borde superior */
        padding-bottom: 0.5rem;  /* Espaciado inferior */
        margin-bottom: 0.5rem;  /* Margen inferior */
    }