<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bienestar San Miguel | Login</title>


    <link rel="icon" type="image/x-icon" th:href="@{/media/favicon.png}">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/fonts.css}" rel="stylesheet" />
    <link th:href="@{/css/login-styles/login.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<header>
    <div class="login-top">
        <div>
            <a href="/"><img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo"></a>
        </div>

        <div class="top-menu">
            <a class="text menu-item roboto-regular" href="">Preguntas Frecuentes →</a>
            <a class="text menu-item roboto-regular" href="">Manual de Usuario →</a>
            <a class="text menu-item roboto-regular" href="https://munisanmiguel.gob.pe/#">Directorio de Servicios →</a>
        </div>
    </div>

</header>

<body>
    <div class="main-container">
        <div class="login-container">

            <div class="wrapper">
                <div class="login-title montserrat-bold">Iniciar Sesión</div>

                <p class="text text-normal">¿No tiene cuenta? <span>  &#160 <a th:href="@{login/new}" class="text text-links">Registrarse</a></span></p>

                <div class="alert alert-success-custom" role="alert" th:if="${mensaje != null}" th:text="${mensaje}" ></div>
                <div class="alert alert-danger-custom" role="alert" th:if="${error != null}" th:text="${error}"></div>
                <form name="signin" class="login-form" method="post" th:action="@{/login/loguearse}" th:object="${usuario}">
                    <div class="input-control">
                        <label for="correo" class="input-label" hidden>Email Address</label>
                        <input type="email" name="correo" id="correo" class="input-field" placeholder="Correo Electrónico">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}" style="margin-left: 10px ; color: red"></div>
                    </div>
                    <div class="input-control">
                        <label for="contrasena" class="input-label" hidden>Password</label>
                        <input type="password" name="contrasena" id="contrasena" class="input-field" placeholder="Contraseña">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}" style="margin-left: 10px ; color: red"></div>
                    </div>
                    <div class="input-control">
                        <a th:href="@{login/recuperarContraseña}" class="text text-links">Recuperar Contraseña</a>
                        <input type="submit" name="submit" class="input-submit" value="Iniciar Sesión">
                    </div>
                </form>
            </div>

        </div>
    </div>

</body>

</html>