<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bienestar San Miguel | Login</title>


    <link rel="icon" type="image/x-icon" th:href="@{/media/favicon.png}">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/fonts.css}" rel="stylesheet" />
    <link th:href="@{/css/login-styles/login.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/a2dd6045c4.js" crossorigin="anonymous"></script>


</head>

<header>
    <div class="login-top">
        <div>
            <a href="/"><img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo"></a>
        </div>

        <div class="top-menu">
            <a class="text menu-item roboto-regular" href="">Preguntas Frecuentes →</a>
            <a class="text menu-item roboto-regular" href="">Manual de Usuario →</a>
            <a class="text menu-item roboto-regular" href="https://munisanmiguel.gob.pe/#">Directorio de Servicios →</a>
        </div>
    </div>

</header>

<body>
<script th:if="${logoutMessage != null}">

        let timerInterval;

        Swal.fire({
            width: '1000px',
            //color:#4abbfc;
            html: '<p style="font-size:30px;font-weight: bold">!LA SESIÓN SE CERRÓ EXITOSAMENTE!</p><img src="/img/logout_check.gif">',
            timer: 3430,
            showConfirmButton: false,
            backdrop: `
              white
              center
              no-repeat
          `,
            didOpen: () => {
                const timer = Swal.getPopup().querySelector("b");
                timerInterval = setInterval(() => {
                    timer.textContent = `${Swal.getTimerLeft()}`;
                }, 100);
            },
            willClose: () => {
                clearInterval(timerInterval);
            }
        }).then((result) => {
            if (result.dismiss === Swal.DismissReason.timer) {
            }
        });



</script>
    <div class="main-container">
        <div class="login-container">

            <div class="wrapper">
                <div class="login-title montserrat-bold">Iniciar Sesión</div>

                <p class="text text-normal">¿No tiene cuenta? <span>  &#160 <a th:href="@{/new}" class="text text-links">Registrarse</a></span></p>

                <!--
                <div th:if="${logoutMessage != null}" class="alert alert-danger-custom" role="alert">
                    <p th:text="${logoutMessage}"></p>
                </div> -->

                <div class="alert alert-success-custom" role="alert" th:if="${mensaje != null}" th:text="${mensaje}" ></div>
                <div class="alert alert-danger-custom" role="alert" th:if="${error != null}" th:text="${error}"></div>

                <div th:if="${param.error}" style="display: flex; justify-content: center; align-items: center; height: 36px;">
                    <i  style="color: #E72C2C; margin-right: 10px;font-size: 18px;" class="fas fa-exclamation-circle"></i>
                    <h4 class="form-signin-heading" style="color: #E72C2C;">Usuario o contraseña incorrectos</h4>
                </div>




                <form name="signin" class="login-form" method="post" th:action="@{/processlogin}" th:object="${usuario}">
                    <div class="input-control3">
                        <label for="correo" class="input-label" hidden>Email Address</label>
                        <input type="email" name="correo" th:field="*{correo}" id="correo" class="input-field" placeholder="Correo Electrónico">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}" style="margin-left: 10px ; color: red"></div>
                    </div>
                    <div class="input-control3">
                        <label for="contrasena" class="input-label" hidden>Password</label>
                        <input type="password" name="contrasena" th:field="*{contrasena}" id="contrasena" class="input-field" placeholder="Contraseña">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}" style="margin-left: 10px ; color: red"></div>
                    </div>
                    <div class="form-check" style="margin-left: 10px">
                        <input class="form-check-input" type="checkbox" id="mostrarContrasena" >
                        <label style="color:dimgray" class="form-check-label" >Mostrar contraseña</label>
                    </div>
                    <br>
                    <div class="input-control">
                        <a th:href="@{/recuperarContra}" class="text text-links">Recuperar Contraseña</a>
                        <input type="submit" name="submit" class="input-submit" value="Iniciar Sesión">
                    </div>

                </form>
            </div>

        </div>
    </div>



</body>
<script>
    document.getElementById("mostrarContrasena").addEventListener("change", function() {
        var contrasenaInput = document.getElementById("contrasena");
        if (this.checked) {
            contrasenaInput.type = "text";
        } else {
            contrasenaInput.type = "password";
        }
    });
</script>
</html>