<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header (title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>
    <link th:href="@{/css/notificaciones.css}" rel="stylesheet" />

</head>
<body>


<div th:fragment="banner">
    <div class="context">

        <div class="container" style="margin-top: 100px;">

            <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
                <div>
                    <a class="main-subtitle-banner open-sans-regular">⏩ Bienvenido de nuevo, <a class="main-subtitle-banner open-sans-regular" th:text="${session.usuario.getNombres()} + ' ' + ${session.usuario.getApellidos()}"></a> </a>
                </div>

                <div style="display: flex; flex-direction: row; gap: 20px;">

                    <div style="display: flex; flex-direction: row; gap: 10px; align-items: center;">


                        <!-- Configurar Regresar a SUPERADMIN from ADMINSEDE -->
                        <div th:if="${session.usuario.getRol() == 2 && session.usuario.getEstadologueo() == 1}" >
                            <nav4>
                                <div class="logo"></div>
                                <a th:href="@{'/impersonate?username=' + 'usuario1@example.com'}">
                                    <div class="banner-btn bell-btn"><span>Volver</span></div>
                                </a>
                            </nav4>
                        </div>

                        <!-- Configurar Regresar a SUPERADMIN from FARMACISTA -->
                        <div th:if="${session.usuario.getRol() == 3 && session.usuario.getEstadologueo() == 1}" >
                            <nav4>
                                <div class="logo"></div>
                                <a th:href="@{'/impersonate?username=' + 'usuario1@example.com'}">
                                    <div class="banner-btn bell-btn"><span>Volver</span></div>
                                </a>
                            </nav4>
                        </div>

                        <!-- Configurar Regresar a SUPERADMIN from PACIENTE -->
                        <div th:if="${session.usuario.getRol() == 4 && session.usuario.getEstadologueo() == 1}" >
                            <nav4>
                                <div class="logo"></div>
                                <a th:href="@{'/impersonate?username=' + 'usuario1@example.com'}">
                                    <div class="banner-btn bell-btn"><span>Volver</span></div>
                                </a>
                            </nav4>
                        </div>



                        <!-- Configurar Notificaciones ADMINSEDE -->
                        <div th:if="${session.usuario.getRol() == 2}">
                            <nav4>
                                <div class="logo"></div>
                                <div class="banner-btn bell-btn" onclick="toggleNotifi()">
                                    <i class="fa-regular fa-bell"></i>
                                    <span>17</span>
                                </div>
                                <div class="notifi-box" id="box">
                                    <h2>Notifications <span>17</span></h2>
                                    <div class="notifi-item">
                                        <img class="image--cover" th:src="@{/img/default_profile.png}">
                                        <div class="text">
                                            <h4>Elias Abdurrahman</h4>
                                            <p>@lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div>
                                </div>
                            </nav4>
                        </div>

                        <!-- Configurar Notificaciones FARMACISTA -->
                        <div th:if="${session.usuario.getRol() == 3}">
                            <nav4>
                                <div class="logo"></div>
                                <div class="banner-btn bell-btn" onclick="toggleNotifi()">
                                    <i class="fa-regular fa-bell"></i>
                                    <span>17</span>
                                </div>
                                <div class="notifi-box" id="box">
                                    <h2>Notifications <span>17</span></h2>
                                    <div class="notifi-item">
                                        <img class="image--cover" th:src="@{/img/default_profile.png}">
                                        <div class="text">
                                            <h4>Elias Abdurrahman</h4>
                                            <p>@lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div>
                                </div>
                            </nav4>
                        </div>

                        <!-- Configurar Notificaciones PACIENTE -->
                        <div th:if="${session.usuario.getRol() == 4}">
                            <nav4>
                                <div class="logo"></div>
                                <div class="banner-btn bell-btn" onclick="toggleNotifi3()">
                                    <i class="fa-regular fa-bell"></i>
                                    <span>17</span>
                                </div>
                                <div class="notifi-box" id="box4">
                                    <h2>Notifications <span>17</span></h2>
                                    <div class="notifi-item">
                                        <img class="image--cover" th:src="@{/img/default_profile.png}">
                                        <div class="text">
                                            <h4>Elias Abdurrahman</h4>
                                            <p>@lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div>
                                </div>
                            </nav4>
                        </div>


                        <div>
                            <div class="banner-btn user-btn">
                                <a style="color: white" th:href="@{/superadmin/perfil}" sec:authorize="hasAnyAuthority('SUPERADMIN')">
                                    <i class="fa-regular fa-user"></i>
                                </a>

                                <a style="color: white" th:href="@{/adminsede/perfil}" sec:authorize="hasAnyAuthority('ADMINSEDE')">
                                    <i class="fa-regular fa-user"></i>
                                </a>

                                <a style="color: white" th:href="@{/farmacista/perfil}" sec:authorize="hasAnyAuthority('FARMACISTA')">
                                    <i class="fa-regular fa-user"></i>
                                </a>

                                <a style="color: white" th:href="@{/paciente/perfil}" sec:authorize="hasAnyAuthority('PACIENTE')">
                                    <i class="fa-regular fa-user"></i>
                                </a>

                            </div>
                        </div>

                        <div>
                            <form th:action="@{/logout}" method="post">
                            <button class="banner-btn exit-btn">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </button>
                            </form>
                        </div>

                    </div>
                    <div th:if="${session.usuario.getRol() == 1}">
                        <img class="image--cover" style="background-color: #b1cece" th:src="@{/img/logoSuper1.png}">
                    </div>
                    <div th:if="${session.usuario.getRol() == 2}">
                        <img class="image--cover" th:src="@{/img/3135768.png}">
                    </div>
                    <div th:if="${session.usuario.getRol() == 3}">
                        <img class="image--cover" th:src="@{/img/farmaceuticologo3.png}">
                    </div>
                    <div th:if="${session.usuario.getRol() == 4}">
                        <img class="image--cover" style="background-color: #b1cece" th:src="@{/img/logoPaciente.png}">
                    </div>
                </div>

            </div>


        </div>



    </div>


    <div class="area" >
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div >
</div>
<script>
    function toggleNotifi() {
        var box = document.getElementById('box');
        var isVisible = box.style.opacity !== '0';

        if (isVisible) {
            box.style.opacity = '0';
            box.style.height = '0px'; // Ajusta la altura según tu diseño
        } else {
            box.style.opacity = '1';
            box.style.height = 'auto'; // Ajusta la altura según el contenido
        }
    }

    function toggleNotifi2() {

        var box = document.getElementById('box3');
        var isVisible = box.style.opacity !== '0';

        if (isVisible) {
            box.style.opacity = '0';
            box.style.height = '0px'; // Ajusta la altura según tu diseño
        } else {
            box.style.opacity = '1';
            box.style.height = 'auto'; // Ajusta la altura según el contenido
        }

    }
    function toggleNotifi3() {

        var box = document.getElementById('box4');
        var isVisible = box.style.opacity !== '0';

        if (isVisible) {
            box.style.opacity = '0';
            box.style.height = '0px'; // Ajusta la altura según tu diseño
        } else {
            box.style.opacity = '1';
            box.style.height = 'auto'; // Ajusta la altura según el contenido
        }

    }
</script>


</body>
</html>