<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header (title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}"></title>



    <style>
        .active {
            text-decoration: underline;
            color: white;
        }
        .container{
            width: 100% !important;
        }
    </style>

</head>
<body>



    <nav class="nav-topbar container" th:fragment="navbar (active)">

        <div class="nav-data">

            <div sec:authorize="hasAnyAuthority('SUPERADMIN')">
                <a href="/superadmin"><img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo"></a>
            </div>

            <div sec:authorize="hasAnyAuthority('ADMINSEDE')">
                <a href="/adminsede"><img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo"></a>
            </div>

            <div sec:authorize="hasAnyAuthority('FARMACISTA')">
                <a href="/farmacista"><img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo"></a>
            </div>

            <div sec:authorize="hasAnyAuthority('PACIENTE')">
                <a href="/paciente"><img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo"></a>
            </div>

            <!--=============== NAV MENU ===============-->

            <div class="nav-menu" id="nav-menu">
                <ul class="nav-list">

                    <!--=============== LINKS PARA SUPERADMIN  ===============-->


                    <li th:if="${session.usuario.getRol() == 1}" ><a th:href="@{/superadmin}" sec:authorize="hasAnyAuthority('SUPERADMIN')"
                           class="menu-item roboto-light" th:classappend="${active == 'Inicio'?'active':''}">Inicio</a></li>

                    <li th:if="${session.usuario.getRol() == 1}" ><a th:href="@{/superadmin/pedidos}" sec:authorize="hasAnyAuthority('SUPERADMIN')"
                           class="menu-item roboto-light" th:classappend="${active == 'Pedidos de reposición'?'active':''}">Pedidos de reposición</a></li>

                    <li th:if="${session.usuario.getRol() == 1}" ><a th:href="@{/superadmin/medicamentos}" sec:authorize="hasAnyAuthority('SUPERADMIN')"
                           class="menu-item roboto-light" th:classappend="${active == 'Inventario'?'active':''}">Inventario</a></li>

                    <li th:if="${session.usuario.getRol() == 1}" class="dropdown-item">
                        <div class="menu-item roboto-regular"  sec:authorize="hasAnyAuthority('SUPERADMIN')">
                            Usuarios <i class="ri-arrow-down-s-line dropdown-arrow"></i>
                        </div>

                        <ul class="dropdown-menu" sec:authorize="hasAnyAuthority('SUPERADMIN')">
                            <div class="inside-dropdown">
                                <li>
                                    <a th:href="@{/superadmin/administradoresSede}" class="dropdown-link" sec:authorize="hasAnyAuthority('SUPERADMIN')">
                                        <i class="ri-user-line menu-item roboto-regular"></i> Admnistradores de Sede
                                    </a>
                                </li>

                                <li>
                                    <a th:href="@{/superadmin/farmacistas}" class="dropdown-link" sec:authorize="hasAnyAuthority('SUPERADMIN')">
                                        <i class="ri-user-line  menu-item roboto-regular"></i> Farmacistas
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/superadmin/pacientes}" class="dropdown-link" sec:authorize="hasAnyAuthority('SUPERADMIN')">
                                        <i class="ri-user-line  menu-item roboto-regular"></i> Pacientes
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/superadmin/doctores}" class="dropdown-link" sec:authorize="hasAnyAuthority('SUPERADMIN')">
                                        <i class="ri-user-line  menu-item roboto-regular"></i> Doctores
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </li>

                    <!--=============== LINKS PARA ADMINSEDE  ===============-->

                    <li th:if="${session.usuario.getRol() == 2}" ><a th:href="@{/adminsede}" sec:authorize="hasAnyAuthority('ADMINSEDE')"
                           class="menu-item roboto-light" th:classappend="${active == 'Inicio'?'active':''}">Inicio</a></li>

                    <li th:if="${session.usuario.getRol() == 2}" ><a th:href="@{/adminsede/doctores}" sec:authorize="hasAnyAuthority('ADMINSEDE')"
                           class="menu-item roboto-light" th:classappend="${active == 'Doctores'?'active':''}">Doctores</a></li>

                    <li th:if="${session.usuario.getRol() == 2}" ><a th:href="@{/adminsede/farmacista}" sec:authorize="hasAnyAuthority('ADMINSEDE')"
                           class="menu-item roboto-light" th:classappend="${active == 'Farmacistas'?'active':''}">Farmacistas</a></li>

                    <li th:if="${session.usuario.getRol() == 2}" ><a th:href="@{/adminsede/ordenes}" sec:authorize="hasAnyAuthority('ADMINSEDE')"
                           class="menu-item roboto-light" th:classappend="${active == 'Órdenes de Reposición'?'active':''}">Órdenes de Reposición</a></li>

                    <li th:if="${session.usuario.getRol() == 2}" ><a th:href="@{/adminsede/medicamentos}" sec:authorize="hasAnyAuthority('ADMINSEDE')"
                           class="menu-item roboto-light" th:classappend="${active == 'Inventario'?'active':''}">Inventario</a></li>

                    <!--=============== LINKS PARA FARMACISTA  ===============-->

                    <li th:if="${session.usuario.getRol() == 3}" ><a th:href="@{/farmacista}" sec:authorize="hasAnyAuthority('FARMACISTA')"
                           class="menu-item roboto-light" th:classappend="${active == 'Inicio'?'active':''}">Inicio</a></li>

                    <li th:if="${session.usuario.getRol() == 3}" ><a th:href="@{/farmacista/ordenes_venta}" sec:authorize="hasAnyAuthority('FARMACISTA')"
                           class="menu-item roboto-light" th:classappend="${active == 'Ordenes de Venta'?'active':''}">Ordenes de Venta</a></li>

                    <li th:if="${session.usuario.getRol() == 3}" ><a th:href="@{/farmacista/ordenes_web}" sec:authorize="hasAnyAuthority('FARMACISTA')"
                           class="menu-item roboto-light" th:classappend="${active == 'Ordenes Web'?'active':''}">Ordenes Web</a></li>

                    <li th:if="${session.usuario.getRol() == 3}" ><a th:href="@{/farmacista/pre_ordenes}" sec:authorize="hasAnyAuthority('FARMACISTA')"
                           class="menu-item roboto-light" th:classappend="${active == 'Pre Ordenes'?'active':''}">Pre Ordenes</a></li>

                    <!--=============== LINKS PARA PACIENTE  ===============-->

                    <li th:if="${session.usuario.getRol() == 4}" ><a th:href="@{/paciente}" sec:authorize="hasAnyAuthority('PACIENTE')"
                           class="menu-item roboto-light" th:classappend="${active == 'Pre Ordenes'?'active':''}">Pre Ordenes</a></li>

                    <li th:if="${session.usuario.getRol() == 4}" ><a th:href="@{/paciente/ordenes}" sec:authorize="hasAnyAuthority('PACIENTE')"
                           class="menu-item roboto-light" th:classappend="${active == 'Ordenes Web'?'active':''}">Ordenes Web</a></li>

                    <li th:if="${session.usuario.getRol() == 4}" ><a th:href="@{/paciente/mensajeria}" sec:authorize="hasAnyAuthority('PACIENTE')"
                           class="menu-item roboto-light" th:classappend="${active == 'Mensajeria'?'active':''}">Mensajeria</a></li>

                    <!--=============== DROPDOWN ===============-->
                    <li class="dropdown-item">
                        <div class="menu-item roboto-light">
                            <i class="fas fa-user fa-fw"></i>
                            <i class="ri-arrow-down-s-line dropdown-arrow"></i>
                        </div>

                        <ul class="dropdown-menu">
                            <div class="inside-dropdown">

                                <li>
                                    <a th:href="@{/superadmin/perfil}" sec:authorize="hasAnyAuthority('SUPERADMIN')"
                                       class="dropdown-link"><i class="ri-user-line menu-item dropdown-item roboto-regular"></i> Perfil</a>
                                <li>

                                <li>
                                    <a th:href="@{/adminsede/perfil}" sec:authorize="hasAnyAuthority('ADMINSEDE')"
                                       class="dropdown-link"><i class="ri-user-line menu-item dropdown-item roboto-regular"></i> Perfil</a>
                                <li>

                                <li>
                                    <a th:href="@{/farmacista/perfil}" sec:authorize="hasAnyAuthority('FARMACISTA')"
                                       class="dropdown-link"><i class="ri-user-line menu-item dropdown-item roboto-regular"></i> Perfil</a>
                                <li>

                                <li>
                                    <a th:href="@{/paciente/perfil}" sec:authorize="hasAnyAuthority('PACIENTE')"
                                       class="dropdown-link"><i class="ri-user-line menu-item dropdown-item roboto-regular"></i> Perfil</a>
                                <li>

                                <form th:action="@{/logout}" method="post">
                                        <input class="dropdown-link" type="submit" style="cursor: pointer;font-size: 14px" value="Cerrar Sesión">
                                </form>
                                </li>

                            </div>
                        </ul>
                    </li>

                </ul>
            </div>

            <div class="nav-toggle" id="nav-toggle">
                <i class="ri-menu-line nav-burger" id="menu-icon"></i>
                <i class="ri-close-line nav-close"></i>

                <div class="menu-small" id="menu-small">
                    <div class="inside-menu-small">
                        <div class="nav-menu-small" id="nav-menu-small">
                            <ul class="nav-list-small">

                                <!--=============== LINKS PARA SUPERADMIN  ===============-->


                                <li th:if="${session.usuario.getRol() == 1}" ><a th:href="@{/superadmin}" sec:authorize="hasAnyAuthority('SUPERADMIN')"
                                                                                 class="menu-item roboto-light" th:classappend="${active == 'Inicio'?'active':''}">Inicio</a></li>

                                <li th:if="${session.usuario.getRol() == 1}" ><a th:href="@{/superadmin/pedidos}" sec:authorize="hasAnyAuthority('SUPERADMIN')"
                                                                                 class="menu-item roboto-light" th:classappend="${active == 'Pedidos de reposición'?'active':''}">Pedidos de reposición</a></li>

                                <li th:if="${session.usuario.getRol() == 1}" ><a th:href="@{/superadmin/medicamentos}" sec:authorize="hasAnyAuthority('SUPERADMIN')"
                                                                                 class="menu-item roboto-light" th:classappend="${active == 'Inventario'?'active':''}">Inventario</a></li>

                                <li th:if="${session.usuario.getRol() == 1}" class="dropdown-item">
                                    <div class="menu-item roboto-regular"  sec:authorize="hasAnyAuthority('SUPERADMIN')">
                                        Usuarios <i class="ri-arrow-down-s-line dropdown-arrow"></i>
                                    </div>

                                    <ul class="dropdown-menu" sec:authorize="hasAnyAuthority('SUPERADMIN')">
                                        <div class="inside-dropdown">
                                            <li>
                                                <a th:href="@{/superadmin/administradoresSede}" class="dropdown-link" sec:authorize="hasAnyAuthority('SUPERADMIN')">
                                                    <i class="ri-user-line menu-item roboto-regular"></i> Admnistradores de Sede
                                                </a>
                                            </li>

                                            <li>
                                                <a th:href="@{/superadmin/farmacistas}" class="dropdown-link" sec:authorize="hasAnyAuthority('SUPERADMIN')">
                                                    <i class="ri-user-line  menu-item roboto-regular"></i> Farmacistas
                                                </a>
                                            </li>
                                            <li>
                                                <a th:href="@{/superadmin/pacientes}" class="dropdown-link" sec:authorize="hasAnyAuthority('SUPERADMIN')">
                                                    <i class="ri-user-line  menu-item roboto-regular"></i> Pacientes
                                                </a>
                                            </li>
                                            <li>
                                                <a th:href="@{/superadmin/doctores}" class="dropdown-link" sec:authorize="hasAnyAuthority('SUPERADMIN')">
                                                    <i class="ri-user-line  menu-item roboto-regular"></i> Doctores
                                                </a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>

                                <!--=============== LINKS PARA ADMINSEDE  ===============-->

                                <li th:if="${session.usuario.getRol() == 2}" ><a th:href="@{/adminsede}" sec:authorize="hasAnyAuthority('ADMINSEDE')"
                                                                                 class="menu-item roboto-light" th:classappend="${active == 'Inicio'?'active':''}">Inicio</a></li>

                                <li th:if="${session.usuario.getRol() == 2}" ><a th:href="@{/adminsede/doctores}" sec:authorize="hasAnyAuthority('ADMINSEDE')"
                                                                                 class="menu-item roboto-light" th:classappend="${active == 'Doctores'?'active':''}">Doctores</a></li>

                                <li th:if="${session.usuario.getRol() == 2}" ><a th:href="@{/adminsede/farmacistas}" sec:authorize="hasAnyAuthority('ADMINSEDE')"
                                                                                 class="menu-item roboto-light" th:classappend="${active == 'Farmacistas'?'active':''}">Farmacistas</a></li>

                                <li th:if="${session.usuario.getRol() == 2}" ><a th:href="@{/adminsede/ordenes}" sec:authorize="hasAnyAuthority('ADMINSEDE')"
                                                                                 class="menu-item roboto-light" th:classappend="${active == 'Órdenes de Reposición'?'active':''}">Órdenes de Reposición</a></li>

                                <li th:if="${session.usuario.getRol() == 2}" ><a th:href="@{/adminsede/medicamentos}" sec:authorize="hasAnyAuthority('ADMINSEDE')"
                                                                                 class="menu-item roboto-light" th:classappend="${active == 'Inventario'?'active':''}">Inventario</a></li>

                                <!--=============== LINKS PARA FARMACISTA  ===============-->

                                <li th:if="${session.usuario.getRol() == 3}" ><a th:href="@{/farmacista}" sec:authorize="hasAnyAuthority('FARMACISTA')"
                                                                                 class="menu-item roboto-light" th:classappend="${active == 'Inicio'?'active':''}">Inicio</a></li>

                                <li th:if="${session.usuario.getRol() == 3}" ><a th:href="@{/farmacista/ordenes_venta}" sec:authorize="hasAnyAuthority('FARMACISTA')"
                                                                                 class="menu-item roboto-light" th:classappend="${active == 'Ordenes de Venta'?'active':''}">Ordenes de Venta</a></li>

                                <li th:if="${session.usuario.getRol() == 3}" ><a th:href="@{/farmacista/ordenes_web}" sec:authorize="hasAnyAuthority('FARMACISTA')"
                                                                                 class="menu-item roboto-light" th:classappend="${active == 'Ordenes Web'?'active':''}">Ordenes Web</a></li>

                                <li th:if="${session.usuario.getRol() == 3}" ><a th:href="@{/farmacista/pre_ordenes}" sec:authorize="hasAnyAuthority('FARMACISTA')"
                                                                                 class="menu-item roboto-light" th:classappend="${active == 'Pre Ordenes'?'active':''}">Pre Ordenes</a></li>

                                <!--=============== LINKS PARA PACIENTE  ===============-->

                                <li th:if="${session.usuario.getRol() == 4}" ><a th:href="@{/paciente}" sec:authorize="hasAnyAuthority('PACIENTE')"
                                                                                 class="menu-item roboto-light" th:classappend="${active == 'Pre Ordenes'?'active':''}">Pre Ordenes</a></li>

                                <li th:if="${session.usuario.getRol() == 4}" ><a th:href="@{/paciente/ordenes}" sec:authorize="hasAnyAuthority('PACIENTE')"
                                                                                 class="menu-item roboto-light" th:classappend="${active == 'Ordenes Web'?'active':''}">Ordenes Web</a></li>

                                <li th:if="${session.usuario.getRol() == 4}" ><a th:href="@{/paciente/mensajeria}" sec:authorize="hasAnyAuthority('PACIENTE')"
                                                                                 class="menu-item roboto-light" th:classappend="${active == 'Mensajeria'?'active':''}">Mensajeria</a></li>

                            </ul>



                            <ul class="nav-list-small-perfil">

                                <li>
                                    <a th:href="@{/superadmin/perfil}" sec:authorize="hasAnyAuthority('SUPERADMIN')"
                                       class="menu-item roboto-light" style="margin-top: 8px;font-size: 18px">Perfil</a>
                                <li>

                                <li>
                                    <a th:href="@{/adminsede/perfil}" sec:authorize="hasAnyAuthority('ADMINSEDE')"
                                       class="menu-item roboto-light" style="margin-top: 8px;font-size: 18px">Perfil</a>
                                <li>

                                <li>
                                    <a th:href="@{/farmacista/perfil}" sec:authorize="hasAnyAuthority('FARMACISTA')"
                                       class="menu-item roboto-light" style="margin-top: 8px;font-size: 18px">Perfil</a>
                                <li>

                                <li>
                                    <a th:href="@{/paciente/perfil}" sec:authorize="hasAnyAuthority('PACIENTE')"
                                       class="menu-item roboto-light" style="margin-top: 8px;font-size: 18px">Perfil</a>
                                <li>

                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <input  class="menu-item roboto-light" style="background-color: #0d6efd; border:none;margin-top: 8px; margin-bottom:8px;font-size: 18px; cursor: pointer" type="submit" value="Cerrar Sesión">
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </nav>


    <script>
        window.onload = function () {
            $('#onload').fadeOut();
            $('body').removeClass('loader-hidden');
        }

    </script>

    <script>
        $(document).ready(function() {
            let opened = false;

            $('#menu-small').hide();

            $('#nav-toggle').click(function (e) {
                e.stopPropagation();
                if (opened) {
                    $('#menu-small').hide();
                } else {
                    $('#menu-small').show();
                }
                opened = !opened;
            });
        });
    </script>

<div th:fragment="footer">
    <div>
        <footer id="sticky-footer" class="footer-distributed">
            <div class="footer-left">
                <img class="logo" th:src="@{/media/logo_large_2.png}" alt="Logo" style="width: 400px; height: auto;">

                <div class="footer-links">
                    <a th:href="@{/farmacista}" sec:authorize="hasAnyAuthority('FARMACISTA')"
                       class="menu-item roboto-light">Inicio</a>
                    <div style="align-self: center">|</div>
                    <a th:href="@{/farmacista/ordenes_venta}" sec:authorize="hasAnyAuthority('FARMACISTA')"
                       class="menu-item roboto-light">Ordenes de Venta</a>
                    <div style="align-self: center">|</div>
                    <a th:href="@{/farmacista/ordenes_web}" sec:authorize="hasAnyAuthority('FARMACISTA')"
                       class="menu-item roboto-light">Ordenes Web</a>
                    <div style="align-self: center">|</div>
                    <a th:href="@{/farmacista/pre_ordenes}" sec:authorize="hasAnyAuthority('FARMACISTA')"
                       class="menu-item roboto-light">Pre Ordenes</a>
                </div>
                <p class="footer-company-name">Copyright © 2024 <strong>Pontificia Universidad Catolica del Perú</strong> Todos los derechos reservados</p>
            </div>

            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker" style="font-size: 1.1rem"></i>
                    <p><span>Av. Universitaria 1801, San Miguel, 15088</span> Lima, Perú</p>
                </div>

                <div>
                    <i class="fa fa-phone" style="font-size: 1.1rem"></i>
                    <p>+51 982 876 098</p>
                </div>

                <div>
                    <i class="fa fa-envelope" style="font-size: 1.1rem"></i>
                    <p><a href="mailto:sagar00001.co@gmail.com">Lorem ipsum dolor sit amet.</a></p>
                </div>
            </div>

            <div class="footer-right">
                <p class="footer-company-about">
                    <span>Lorem, ipsum dolor.</span>
                    La carrera de <strong>Ingeniería de las telecomunicaciones</strong> de la <strong>Pontificia Universidad Catolica del Perú</strong> diseñó una pagina WEB.
                </p>
                <div class="footer-icons">
                    <a href="https://www.facebook.com/profile.php?id=100009473024310&mibextid=LQQJ4d"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/leo.leonar071/?igshid=OGQ5ZDc2ODk2ZA%3D%3Ds"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.youtube.com/@pucp"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </footer>
    </div>
</div>


</body>
</html>