<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>

    <div id="messageArea"></div>


    <div>
        <label>Nombre de usuario:</label>
        <input type="text" id="username" placeholder="Introduce tu nombre">

    </div>

    <br>

    <div>
        <label>Mensaje:</label>
        <input type="text" id="messageInput" placeholder="Introduce tu mensaje">

    </div>

    <br>

    <div>

        <button onclick="sendMessage()">Enviar</button>
    </div>



</div>



</body>
</html>