
.detalle-orden-container {
    padding: 25px 30px 25px 30px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #dedede;
    margin-top: 20px;
}

.dataTables_filter {
    display: none !important;
}

.data-label {
    color: var(--color-text-1);
}

.invoice-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.invoice-contact {
    padding-top: 15px;
    font-size: 1rem;
}

.invoice-data {
    padding-top: 15px;
    font-size: 1.1rem;
}

.title{
    font-size: 1.55rem;
}

.title-info {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.table-badge {
    padding: 3px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.badge {
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}



.btn-pend{
    padding: 9px;
    background-color: rgb(234 179 8);
    color: white;
    border: none;
    border-radius: 5px;
    width: 125px;
}

.btn-rcb{
    padding: 8px;
    background-color: rgb(100 116 139);
    color: white;
    border: none;
    border-radius: 5px;
    width: 125px;
}

.btn-pro{
    padding: 8px;
    background-color: rgb(100 116 139);
    color: white;
    border: none;
    border-radius: 5px;
    width: 125px;
}

.btn-empa{
    padding: 8px;
    background-color: rgb(100 116 139);
    color: white;
    border: none;
    border-radius: 5px;
    width: 125px;

}

.btn-ruta{
    padding: 8px;
    background-color: rgb(100 116 139);
    color: white;
    border: none;
    border-radius: 5px;
    width: 125px;
}

.btn-listo{
    padding: 8px;
    background-color: rgb(34, 136, 60);
    color: white;
    border: none;
    border-radius: 5px;
    width: 125px;
}

.btn-pagado{
    padding: 8px;
    background-color: rgb(37 99 235);
    color: white;
    border: none;
    border-radius: 5px;
    width: 125px;
}

.btn-anulado{
    padding: 8px;
    background-color: rgb(31 41 55);
    color: white;
    border: none;
    border-radius: 5px;
    width: 125px;
}







/* Pendiente ID = 1 */
.badge-pendiente {
    background-color: rgb(250 204 21);
    color: white;
}

/* Pago Disponible ID = 2 */
.badge-pago-disponible {
    background-color: rgb(132 204 22);
    color: white;
}

/* Recibido ID = 3 */
.badge-recibido {
    background-color:  rgb(217 119 6);
    color: white;
}

/* En Proceso ID = 4 */
.badge-proceso {
    background-color: rgb(146 64 14);
    color: white;
}

/* Empaquetando ID = 5 */
.badge-empaquetado {
    background-color: rgb(56 189 248);
    color: white;
}

/* En Ruta ID = 6 */
.badge-ruta {
    background-color: rgb(96 165 250);
    color: white;
}

/* Entregado ID = 7 */
.badge-entregado {
    background-color: rgb(37 99 235);
    color: white;
}

/* ID = 8 */
.badge-pagado {
    background-color: #28a745;
    color: white;
}

/* ID = 9 */
.badge-anulado {
    background-color: rgb(100 116 139);
    color: white;
}



.invoice-data {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 40px;
}

.order-table {
    width: 100%;
}

.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.name-unit-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.order-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.order-table th, .order-table td {
    padding: 10px;
    vertical-align: center;
}

.order-table th {
    border-bottom: 1px solid #9d9d9d;
}

.order-table td {
    border-bottom: 1px solid #9d9d9d;
}

.full-total {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: end;
    text-align: end;
}