/* INTERFAZ TOTAL */
.interface {
    justify-content: center;
}
/* END INTERFAZ TOTAL */


/* FILTROS PANEL */

.filtros {
    margin-top: 10px;
    border-radius: 0.25rem;
    max-height: 440px;
    color: var(--color-black);
    background: var(--color-white);
}

.container-filters {
    padding: 20px;
}

.filter-title {
    font-size: 1.2rem;
    padding-bottom: 10px;
    border-bottom: solid 1px #d3d3d3;
}

.list-categorias{
    max-height: 240px;
    overflow: auto;
}

.categorias-title {
    font-size: 1.2rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.categoria {
    cursor: pointer;
    padding-bottom: 10px;
    padding-right: 20px;
}

/* END FILTROS PANEL */

.medicamentos{
    background-color: white;
    width: 830px;
    backdrop-filter: blur(55px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 8px;
    height: 540px
}



/* LISTA MEDICAMENTOS */

.hide {
    display: none;
}

.items-preview {
    margin-top: 20px;
    max-height: 276px;
    overflow: auto;
    border-radius: 0.25rem;
    color: var(--color-black);
    background: var(--color-white);
}

.container-preview {
    padding: 20px;
}

.selected-item {
    border-bottom: solid 1px #d3d3d3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.item-on-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.preview-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-text-1);
    border-bottom: solid 1px #d3d3d3;
    padding-top: 5px;
    font-size: 1.2rem;
    text-align: start;
    padding-bottom: 15px;
}

.continue-button {
    display: block;
    font-size: 1rem;
    border: none;
    background-color: var(--color-blue);
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color ease 0.2s;
}

.continue-button:hover{
    background-color: var(--color-blue--hover);
}

.item-quantity-clicked {
    background-color: white;
    padding: 2px;
    text-align: center;
    font-size: 1.1rem;
    color: #0c0808;
    border: solid 1px #d3d3d3;
    border-radius: 10px;
}

.item-details {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 20px;
}

.item-price-clicked {
    padding-top: 5px;
}

.sumar-cantidad {
    cursor: pointer;
}

.restar-cantidad {
    cursor: pointer;
}

.btn {
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
    cursor: pointer;
}


.med-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding-top: 10px;
    padding-bottom: 50px;
    gap: 15px;
    width: 100%;
    transition: .3s;
}

.item {
    padding: 20px;
    transition: .3s;
    width: auto;
    outline: none;
    border-radius: 5px;
    color: var(--color-black);
    background: var(--color-white);
}



.img-item {
    width: 100%;
}


.titulo-item {
    display: block;
    color: var(--color-text-1);
    padding-top: 5px;
    font-size: 1rem;
    text-align: start;
}
.subtitulo-item {
    display: block;
    color: var(--color-text-2);
    padding-top: 5px;
    font-size: 0.8rem;
    text-align: start;
}
.item-price {
    display: block;
    text-align: start;
    padding-top: 15px;
    font-size: 1.15rem;
}
.item-symbol {
    display: block;
    text-align: start;
    font-size: 0.9rem;
}
.add-item-button {
    display: block;
    font-size: 0.9rem;
    margin: 10px auto;
    border: none;
    background-color: var(--color-blue);
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color ease 0.2s;
}

.add-item-button:hover{
    background-color: var(--color-blue--hover);
}



.search-bar {
    width: 100%;
    max-width: 1540px; /* Puedes ajustar el ancho máximo según tus necesidades */
    margin: 0 auto; /* Centrar el cuadro de búsqueda */
    display: flex;
    justify-content: center; /* Centrar los elementos horizontalmente */
    align-items: center; /* Centrar los elementos verticalmente */
}

.search-label {
    flex: 1; /* Para que el campo de entrada ocupe todo el espacio disponible */
    margin-right: 10px; /* Separación entre el campo de entrada y el botón */
}

